.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
}

#subjects{
    width:750px;
    margin:0px auto;
}

.submit_button {
    margin-top:15px;
    margin-left:400px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}


#category-list {
    clear : both;
    width:500px;
    margin:0px auto;
      background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px 20px 40px;

    padding: 18px;
    padding-left:18px;
     padding-right:18px;
     

}

#category-list .listeven{
    background : #D8E7F9;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
   
}

#category-list .listodd{
    background : #FFFFFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height: auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
    

    
}

#heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #CB5454;;
    height : 1.5em;
    padding : 0.5em 0 0 5em;
    margin-left: 360px;
    
}
#category-list li div {
    float : left;
    margin-right: 3px;
}
#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 35%;
}

#category-list li div.category-code {
    width : 125px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 65px;

}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 120px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list li .opt{
    float: right;
}

.add_sub a {
    color:black;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.add_sub a:hover{
    color:#bb0000;
    text-decoration: none;
}

.add_sub{
    margin-bottom: 5px;
}

h5{
    color: #444444;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
}

#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 0 1px 20px;
}



.label-field-pair-select-class {
    height:40px;
    padding-top:3px;
    width:500px;
    margin:0px auto;
}
.label-field-pair-select-class label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}
#loader{
    padding-top:10px;
}

#page-yield
{
    width:650px;
}

tr.tr-head{
    background: #fff;
    color:#990a10;
    font-weight:bold;
    text-align:left;
}
.tr-head td{
    padding-left:10px;

}

.ScrollStyle
{
    max-height: 230px;
    overflow-y: scroll;
        overflow-x: none;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em;
    width : 30em;
    padding : 0.5em 0 0 5em;
}

input[type="text"],
input[type="password"],
textarea,
select
{
      background: #eee;
    outline: none;
      width: 100px;
      -webkit-border-radius: 10px;
        padding: 5px;
        border: 1px solid #c6c6c6;
}
.sel-list{
    width:300px;
    margin-bottom: 3px;
    margin-top: -14px;
}