<% unless @employees.blank? %>
  <div class="info">
    <div class="field_pair">
      <div class="label1"><%= t('total_employees') %></div>
      <div class="label2"><%="#{@employees.total_entries}" %></div>
    </div>
    <div class="field_pair">
      <div class="label1"><%= "#{t('department')}" %></div>
      <div class="label2"><%="#{@dpt_count}" %></div>
    </div>
    <div class="field_pair">
      <div class="label1"><%= "#{t('male')} #{t('employees')}" %></div>
      <div class="label2"><%="#{@count.first.male_count}" %></div>
    </div>
    <div class="field_pair">
      <div class="label1"><%= "#{t('female')} #{t('employees')}" %></div>
      <div class="label2"><%="#{@count.first.female_count}" %></div>
    </div>
  </div>
  <div class="submit-button">
      <%= link_to "► #{t('export_as_csv')}",  {:action=>"alphena_employee_csv_list", :report_format_type => "csv"} %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
  <div class="outer">
  <div class="inner">
    <table id="report_table" align="center" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>
        <% if @sort_order=="first_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"employees",:sort_order=>"first_name ASC"} %>
          </td>
        <% elsif @sort_order=="first_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"employees",:sort_order=>"first_name DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"employees",:sort_order=>"first_name DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="employee_number DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('employee_id')} &#8595;", :url=>{:action=>"employees",:sort_order=>"employee_number ASC"} %>
          </td>
        <% elsif @sort_order=="employee_number ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('employee_id')} &#8593;", :url=>{:action=>"employees",:sort_order=>"employee_number DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('employee_id')}", :url=>{:action=>"employees",:sort_order=>"employee_number DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="date_of_birth DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('date_of_birth')} &#8595;", :url=>{:action=>"employees",:sort_order=>"date_of_birth ASC"} %>
          </td>
        <% elsif @sort_order=="date_of_birth ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('date_of_birth')} &#8593;", :url=>{:action=>"employees",:sort_order=>"date_of_birth DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('date_of_birth')}", :url=>{:action=>"employees",:sort_order=>"date_of_birth DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="joining_date DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('joining_date')} &#8595;", :url=>{:action=>"employees",:sort_order=>"joining_date ASC"} %>
          </td>
        <% elsif @sort_order=="joining_date ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('joining_date')} &#8593;", :url=>{:action=>"employees",:sort_order=>"joining_date DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('joining_date')}", :url=>{:action=>"employees",:sort_order=>"joining_date DESC"} %>
          </td>
        <% end %>
        <% if @sort_order=="department_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('department')} &#8595;", :url=>{:action=>"employees",:sort_order=>"department_name ASC"} %>
          </td>
        <% elsif @sort_order=="department_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('department')} &#8593;", :url=>{:action=>"employees",:sort_order=>"department_name DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('department')}", :url=>{:action=>"employees",:sort_order=>"department_name DESC"} %>
          </td>
        <% end %>

        <td><%= t('responsibility')  %></td>
        <td><%= t('manager') %></td>

        <% if @sort_order=="gender DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('gender')} &#8595;", :url=>{:action=>"employees",:sort_order=>"gender ASC"} %>
          </td>
        <% elsif @sort_order=="gender ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('gender')} &#8593;", :url=>{:action=>"employees",:sort_order=>"gender DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('gender')}", :url=>{:action=>"employees",:sort_order=>"gender DESC"} %>
          </td>
        <% end %>
        <% if @sort_order=="home_state DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('home_state')} &#8595;", :url=>{:action=>"employees",:sort_order=>"home_state ASC"} %>
          </td>
        <% elsif @sort_order=="home_state ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('home_state')} &#8593;", :url=>{:action=>"employees",:sort_order=>"home_state DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('home_state')}", :url=>{:action=>"employees",:sort_order=>"home_state DESC"} %>
          </td>
        <% end %>
          <td><%= t('phone_no') %></td>
          <td><%= t('email') %></td>
          <td><%= t('qualification') %></td>
          <td><%= t('matrial_status') %></td>
          <td><%= t('contact_address') %></td>
          <td><%= t('residential_address') %></td>
           <% @additional_field_name.each do |additional_field| %>
           <td class="col-12"><%= additional_field.name  %></td>
           <% end %>
      </tr>
      <% page_count=0 %>
      <% @employees.each_with_index do |e,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @employees.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=@i+1 %></td>
          <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
            <td class="col-8 batch_order_select"><%=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.emp_id} %></td>
          <% else %>
            <td class="col-8"><%=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.emp_id} %></td>
          <% end %>
          <% if @sort_order=="employee_number ASC" or @sort_order=="employee_number DESC" %>
            <td class="col-2 batch_order_select"><%=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.emp_id} %></td>
          <% else %>
            <td class="col-2"><%=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.emp_id} %></td>
          <% end %>
          <% if @sort_order=="date_of_birth ASC" or @sort_order=="date_of_birth DESC" %>
            <td class="col-8 batch_order_select"><%= format_date(e.date_of_birth) %></td>
          <% else %>
            <td class="col-8"><%= format_date(e.date_of_birth) %></td>
          <% end %>
          <% if @sort_order=="joining_date ASC" or @sort_order=="joining_date DESC" %>
            <td class="col-8 batch_order_select"><%= format_date(e.joining_date) %></td>
          <% else %>
            <td class="col-8"><%= format_date(e.joining_date) %></td>
          <% end %>
          <% if @sort_order=="department_name ASC" or @sort_order=="department_name DESC" %>
            <td class="col-6 batch_order_select"><%= e.department_name %></td>
          <% else %>
            <td class="col-6"><%= e.department_name %></td>
          <% end %>
          <td class="col-4"><%= e.emp_position %></td>
          <td class="col-4"><%="#{e.manager_first_name} #{e.manager_last_name}" %></td>
          <% if @sort_order=="gender ASC" or @sort_order=="gender DESC" %>
            <td class="col-6 batch_order_select"><%= e.gender %></td>
          <% else %>
            <td class="col-6"><%= e.gender %></td>
          <% end %>
          <% if @sort_order=="home_state ASC" or @sort_order=="home_state DESC" %>
            <td class="col-8 batch_order_select"><%= e.home_state %></td>
          <% else %>
            <td class="col-8"><%= e.home_state %></td>
          <% end %>
          <td class="col-4"><%= e.mobile_phone %></td>
          <td class="col-12"><%= e.email %></td>
          <td class="col-4"><%= e.qualification %></td>
          <td class="col-4"><%= e.marital_status %></td>
          <td class="col-4"><%= e.office_address_line1 %></td>
          <td class="col-4"><%= e.home_address_line1 %></td>
          <% @additional_field_name.each do |additional_field| %>
           <td class="col-8"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(e.id, additional_field.id) %>
           <%= @ead.additional_info unless @ead.nil? %>
           </td>
           <% end %>
        </tr>
      <% end %>
    </table>
    </div>
    </div>
    <% unless @employees.per_page.to_i > @employees.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@employees.total_entries}" %>
        </div>
        <%= will_paginate @employees,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order}%>
      </div>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_employees_present') %></p>
  <% end %>
</div>

<style>
.outer {position:relative}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  width:950px; 
 }
</style>