<%# unless @employees.blank? %>
<!--   <div class="info">
    <div class="field_pair">
      <div class="label1"><%#= t('total_employees') %></div>
      <div class="label2"><%#=": #{@employees.total_entries}" %></div>
    </div>
  </div>
  <div class="submit-button">
    <%#= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"employee_payroll_details_pdf", :page_height => 680,:report_format_type => "pdf" ,:sort_order=>@sort_order,:department_id=>params[:department_id]},:format=>'pdf',:target => '_blank' %>    
    <%#= link_to "#{t('export_as_csv')}" ,{:action=>'employee_payroll_details_csv',:sort_order=>@sort_order,:department_id=>params[:department_id]},:target=>'_blank'  %>
  </div>
  <div id = "submit-button">
          <%#= link_to "► #{t('pdf_report')}", :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
          <%#= link_to "► #{t('csv_report')}", :class => 'user_button'%>
        </div>
  <div class="extender"></div> -->
  <!-- <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%#= t('no_text') %></td>

        <%# if @sort_order=="first_name DESC" %>
          <td class="batch_order_select">
            <%#= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"employee_payroll_details",:sort_order=>"first_name ASC",:department_id=>params[:department_id]} %>
          </td>
        <%# elsif @sort_order=="first_name ASC" %>
          <td class="batch_order_select">
            <%#= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"employee_payroll_details",:sort_order=>"first_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <%# else %>
          <td class="batch_order">
            <%#= link_to_remote  "#{t('name')}", :url=>{:action=>"employee_payroll_details",:sort_order=>"first_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <%# end %>

        <%# if @sort_order=="employee_number DESC" %>
          <td class="batch_order_select">
            <%#= link_to_remote  "#{t('employee_id')} &#8595;", :url=>{:action=>"employee_payroll_details",:sort_order=>"employee_number ASC",:department_id=>params[:department_id]} %>
          </td>
        <%# elsif @sort_order=="employee_number ASC" %>
          <td class="batch_order_select">
            <%#= link_to_remote  "#{t('employee_id')} &#8593;", :url=>{:action=>"employee_payroll_details",:sort_order=>"employee_number DESC",:department_id=>params[:department_id]} %>
          </td>
        <%# else %>
          <td class="batch_order">
            <%#= link_to_remote  "#{t('employee_id')}", :url=>{:action=>"employee_payroll_details",:sort_order=>"employee_number DESC",:department_id=>params[:department_id]} %>
          </td>
        <%# end %>
        <%# if @sort_order=="department_name DESC" %>
          <td class="batch_order_select">
            <%#= link_to_remote  "#{t('department')} &#8595;", :url=>{:action=>"employee_payroll_details",:sort_order=>"department_name ASC",:department_id=>params[:department_id]} %>
          </td>
        <%# elsif @sort_order=="department_name ASC" %>
          <td class="batch_order_select">
            <%#= link_to_remote  "#{t('department')} &#8593;", :url=>{:action=>"employee_payroll_details",:sort_order=>"department_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <%# else %>
          <td class="batch_order">
            <%#= link_to_remote  "#{t('department')}", :url=>{:action=>"employee_payroll_details",:sort_order=>"department_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <%# end %>

        <td><%#="#{t('payroll_text')} #{t('details')} &#x200E;(#{currency})&#x200E; "  %></td>
        <td><%#=t('total')%></td>

      </tr>
      <%# page_count=0 %>
      <%# @employees.each_with_index do |e,@i| %>
        <%# if params[:page].present? %>
          <%# if params[:page].to_i >= 1 %>
            <%# @i = @i  + (params[:page].to_i - 1) * @employees.per_page.to_i %>
          <%# end %> <%#else %> <%# @i = @i %>
        <%# end %>
        <%# page_count+=1 %>
        <tr class="tr-<%#= cycle('odd', 'even') %>">
          <td class="col-5"> <%#=@i+1 %></td>
          <%# if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
            <td class="col-4 batch_order_select"><%#=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <%# else %>
            <td class="col-4"><%#=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <%# end %>
          <%# if @sort_order=="employee_number ASC" or @sort_order=="employee_number DESC" %>
            <td class="col-3 batch_order_select"><%#=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <%# else %>
            <td class="col-3"><%#=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <%# end %>
          <%# if @sort_order=="department_name ASC" or @sort_order=="department_name DESC" %>
            <td class="col-4 batch_order_select"><%#= e.department_name %></td>
          <%# else %>
            <td class="col-4"><%#= e.department_name %></td>
          <%# end %>
          <%# payroll=@payroll[e.id] %>
          <%# unless payroll.nil? %>
            <td class="col-2">   
          <table>
            <%# total=0.to_f %>
            <tr>
            <%# payroll.each do |p| %>
            <td class="col-3 batch_order_select1"><%#= p.name %></td>
            <%# end %>
            </tr>
            <tr>
            <%# payroll.each do |p| %>
           <td class="col-3 batch_order_select1" font-weight:"0"><%#= p.amount.blank? ? precision_label(0.00) : precision_label(p.amount) %></td>
            <%# if p.is_deduction=="1" %>
              <%# total -= p.amount.to_f %>
            <%# else %>
              <%# total += p.amount.to_f %>
            <%# end %>
          <% #end %>
        </tr> -->


                                      <!-- <tr >
                                        <td colspan="10" align ="right"> <%#=t('total')%>: &nbsp<%#= precision_label(total) %>&nbsp &nbsp</td>
                                      </tr> -->
        

        <!-- </table>  
        </td> 
        <td class="col-4 "><%#= precision_label(total) %></td>  
          <%# else %>
            <td class="col-2">-</td>
          <%# end %>
        </tr>
      <%# end %>
    </table>
    <%# unless @employees.per_page.to_i > @employees.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%#= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@employees.total_entries}" %>
        </div>
        <%#= will_paginate @employees,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order,:department_id=>params[:department_id]}%>
      </div>
    <%# end %>
  <%# else %>
    <p class="flash-msg"> <%#= t('no_employees_present') %></p>
  <%# end %>
</div> -->



<% unless @employees.blank? %>
  <div class="info">
    <div class="field_pair">
      <div class="label1"><%= t('total_employees') %></div>
      <div class="label2"><%=": #{@employees.total_entries}" %></div>
    </div>
  </div>
  <div class ="submit-button-details">
    <%#= link_to "#{t('export_as_csv')}" ,{:action=>'payrolls_details_csv_file',:sort_order=>@sort_order,:department_id=>params[:department_id]},:target=>'_blank'  %>
  <%= link_to "► #{t('csv_report')}", {:controller=>"report", :action=>"payrolls_details_csv_file", :report_format_type => "csv",:department_id=>params[:department_id]} ,:class => 'user_button', :align => 'right' %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>

        <% if @sort_order=="first_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"employee_payroll_details",:sort_order=>"first_name ASC",:department_id=>params[:department_id]} %>
          </td>
        <% elsif @sort_order=="first_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"employee_payroll_details",:sort_order=>"first_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"employee_payroll_details",:sort_order=>"first_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <% end %>

        <% if @sort_order=="employee_number DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('employee_id')} &#8595;", :url=>{:action=>"employee_payroll_details",:sort_order=>"employee_number ASC",:department_id=>params[:department_id]} %>
          </td>
        <% elsif @sort_order=="employee_number ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('employee_id')} &#8593;", :url=>{:action=>"employee_payroll_details",:sort_order=>"employee_number DESC",:department_id=>params[:department_id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('employee_id')}", :url=>{:action=>"employee_payroll_details",:sort_order=>"employee_number DESC",:department_id=>params[:department_id]} %>
          </td>
        <% end %>
        <% if @sort_order=="department_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('department')} &#8595;", :url=>{:action=>"employee_payroll_details",:sort_order=>"department_name ASC",:department_id=>params[:department_id]} %>
          </td>
        <% elsif @sort_order=="department_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('department')} &#8593;", :url=>{:action=>"employee_payroll_details",:sort_order=>"department_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('department')}", :url=>{:action=>"employee_payroll_details",:sort_order=>"department_name DESC",:department_id=>params[:department_id]} %>
          </td>
        <% end %>

        <td><%="#{t('payroll_category')} "  %></td>
        <td><%="#{t('amount')}"  %></td>

      </tr>
      <% page_count=0 %>
      <% @employees.each_with_index do |e,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @employees.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=@i+1 %></td>
          <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
            <td class="col-4 batch_order_select"><%=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% else %>
            <td class="col-4"><%=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% end %>
          <% if @sort_order=="employee_number ASC" or @sort_order=="employee_number DESC" %>
            <td class="col-3 batch_order_select"><%=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% else %>
            <td class="col-3"><%=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% end %>
          <% if @sort_order=="department_name ASC" or @sort_order=="department_name DESC" %>
            <td class="col-4 batch_order_select"><%= e.department_name %></td>
          <% else %>
            <td class="col-4"><%= e.department_name %></td>
          <% end %>
          <% payroll=@payroll[e.id] %>
          <% unless payroll.nil? %>
            <td class="col-2">
              <% total=0.to_f %>
              <% payroll.each do |p| %>
                  <% if p.is_deduction=="1" %>
                  <div class="p_name fontstyle">(<%= p.name %>)</div>
                    <% total -= p.amount.to_f %>
                  <% else %>
                  <div class="p_name fontstyle"> <%= p.name %></div>
                    <% total += p.amount.to_f %>
                  <% end %><br/>
              <% end %>
                <div class="p_name"> <%=t('total')%></div>
            </td>
            <td class="col-4">
              <% total=0.to_f %>
              <% payroll.each do |p| %>
                  <% if p.is_deduction=="1" %>
                  <div class="p_amount fontstyle">(<%= p.amount.blank? ? precision_label(0.00) : precision_label(p.amount) %>)</div>
                    <% total -= p.amount.to_f %>
                  <% else %>
                  <div class="p_amount fontstyle"> <%= p.amount.blank? ? precision_label(0.00) : precision_label(p.amount) %></div>
                    <% total += p.amount.to_f %>
                  <% end %><br/>
              <% end %>
                <div class="p_amount"> <%= precision_label(total) %></div>
            </td>
          <% else %>
            <td class="col-2">-</td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% unless @employees.per_page.to_i > @employees.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@employees.total_entries}" %>
        </div>
        <%= will_paginate @employees,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order,:department_id=>params[:department_id]}%>
      </div>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_employees_present') %></p>
  <% end %>
</div>
