<%= stylesheet_link_tag "alphena_report/cumulative_reports.css" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('cumulative_reports')}" %></div>
</div>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :reports_cummulative_report %>
    <%= render_breadcrumbs  %>
  </div>
  <% form_for :payroll do |f| %>
    <div id="box">
      <div class="filter">
        <div class="label-field-pair">
          <label><%= t('select_departments') %>  </label>
          <div class="text-input-bg"><%= select :name, :id ,[["#{t('all_dept')}",'All']] + @departments.map { |s| [s.name, s.id] },{:prompt => "#{t('select_department')}"} %>
            <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="former_students"><%= t('from')%></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'start_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="former_students"><%= t('to') %></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'end_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
          </div>
        </div>
      </div>
      <%= submit_tag "► #{t('view')}",:class=>'submit_button' %>
    <% end %>
  </div>
  <div id="payslip">
    <% if request.post? %>
      <div id = "submit-button2">
        <%#= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"cumulative_pdf", :page_height => 680,:report_format_type => "pdf" ,:start_date => params[:start_date], :end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
        <%= link_to "► #{t('csv_report')}",  {:controller=>"report", :action=>"cumulative_csv_file", :report_format_type => "csv",:dept_id => params[:name][:id],:start_date => params[:start_date], :end_date => params[:end_date]}, :class => 'user_button'%>
      </div>
      <% @payroll_category= PayrollCategory.active %>
      <% @overall_earning_categories =[] %>
      <% @overall_deduction_categories =[] %>
      <% unless @payroll_category.empty? %>
        <% @payroll_category.each do |payroll_category| %>
          <% if payroll_category.is_deduction==false %>
            <% @overall_earning_categories << payroll_category %>
          <% else %>
            <% @overall_deduction_categories << payroll_category %>
          <% end %>
        <% end %>
      <% end %>
      <div class="outer">
        <div class="inner">
          <table id="listing" width="100%">
            <tr class="tr-head"> <td colspan="28" align ="center">From:<%= params[:start_date].to_date  %>&nbsp To:<%= params[:end_date].to_date %> </td></tr>
            <tr class="tr-head">
              <td colspan="11" align ="center"><%= t('biodata') %></td>
              <td colspan="<%= @overall_earning_categories.count+1 %>" align="center"><%= t('arrears_and_allowances') %></td>
              <td rowspan="2" align ="center"><%= t('gross_salary') %></td>
              <td colspan="<%= @overall_deduction_categories.count+1 %>" align="center"><%= t('deductions') %></td>
              <!-- <td rowspan="2" align ="center"><%#= "#{t('allowances_and_arrears')} #{t('details')}" %></td> -->
                                          <!-- <td rowspan="2" align ="center" width = "250px"><%#= "#{t('payroll_categories')}" %></td> -->
                                          <!-- <td rowspan="2" align ="center"><%#= "#{t('amount')}" %></td> -->
              <td rowspan="2" align ="center"><%= "#{t('net_salary')}" %></td>
              <!-- <td rowspan="2" align ="center"><%#= "#{t('deductions')} #{t('details')}" %></td>
                                          <td rowspan="2" align ="center"><%#= "#{t('deductions')}" %></td> -->
              <tr class="tr-head">
                <td><%= t('no1') %></td>
                <td><%=  t('employee_id1')%></td>
                <td><%= t('employee_name1') %></td>
                <td><%= t('department') %></td>
                <td><%= t('position') %></td>
                <td><%= t('assumption_date') %></td>
                <td><%= t('grade') %></td>
                <td><%= t('pay_grade') %></td>
                <% @additional_field_name.each do |additional_field| %>
                  <td><%= additional_field.name  %></td>
                <% end %>
                <% unless @overall_earning_categories.nil? %>
                  <% @overall_earning_categories.each do |earning_categories| %>
                    <td><%= earning_categories.name %> </td>
                  <% end %>
                  <!-- <td><%#= t('individual_earning') %></td> -->
                  <td><%= t('total_arrears_and_allowances') %></td>
                <% end %>
                <% unless @overall_deduction_categories.nil? %>
                  <% @overall_deduction_categories.each do |deduction_categories| %>
                    <td><%= deduction_categories.name %> </td>
                  <% end %>
                  <!-- <td><%#= t('individual_deductions') %></td> -->
                  <td><%= t('total_deductions') %></td>
                <% end %>
              </tr>
            </tr>
            <% i=0 %>

            <% @counter = 1 %>
            <%  if params[:name][:id] == "All" %>
              <% unless @hash.blank? %>
                <% hash_grand_total = {} %>
                <% @hash.each do |k,v| %>
                  <% hash_total = {} %>
                  <% v.each do |ids| %>
                    <% @mon_payslip =  MonthlyPayslip.find ids.to_i  %>
                    <% @emp = @mon_payslip.employee %>
                    <%  @employee_paygrade = AlphenaPaygradePayrollCategory.find_all_by_paygrade_id(@emp.paygrade_id) %>
                    <% @count = @employee_paygrade.count %>
                    <% @earning_categories = [] %>
                    <% @deduction_categories = [] %>
                    <% @employee_paygrade.each do |employee_paygrade| %>
                      <% @categories = PayrollCategory.find_by_id_and_status_and_is_deleted(employee_paygrade.payroll_category_id,true,false)  %>
                      <% unless @categories.nil? %>
                        <% if @categories.is_deduction == false  %>
                          <% @earning_categories << employee_paygrade %>
                        <%  else %>
                          <% @deduction_categories << employee_paygrade %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if @counter == 1 %>
                      <tr class="tr-<%=cycle('odd','even')%>">
                        <td class="col-1">  <%=  i+=1 %></td>
                        <td class="col-1"><%= @emp.employee_number %></td>
                        <td class="col-1"><%= "#{@emp.first_name} #{@emp.last_name}" %></td>
                        <td class="col-1"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name %></td>
                        <td class="col-1"><%= @emp.employee_position %></td>
                        <td class="col-1"><%= @emp.joining_date %></td>
                        <td class="col-1"><%  @grades = @emp.employee_grade %><%= @grades.name unless @grades.nil?%></td>
                        <td class="col-1"><%=  @paygrades = AlphenaPaygrade.find(@emp.paygrade_id).name%></td>
                        <% @additional_field_name.each do |additional_field| %>
                          <td class="col-1"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
                            <%= @ead.additional_info unless @ead.nil? %>
                          </td>
                        <% end %>
                        <% unless @overall_earning_categories.nil? %>
                          <% @earning_total = 0 %>
                          <%  @overall_earning_categories.each do |overall_earning_category| %>
                            <%  @earning = MonthlyPayslip.find_by_employee_id_and_salary_date_and_payroll_category_id(@emp.id ,@mon_payslip.salary_date,overall_earning_category.id) %>
                            <!--  <td class="col-1"><%#= @earning.amount%></td>
                            <%# @earning_total += @earning.amount.to_f %>
                            <%# else%>
                             <td class="col-1"></td>
                            <%# end%>  -->
                            <td><% unless @earning.nil?%>
                                <% if hash_total["#{overall_earning_category.id }"].nil? %>
                                  <% hash_total["#{overall_earning_category.id }"] = @earning.amount.to_f    %>
                                <% else %>
                                  <% hash_total["#{overall_earning_category.id }"] += @earning.amount.to_f  %>
                                <% end %>
                                <%= @earning.amount == 0 ? "" :   @earning.amount %>
                                <% @earning_total += @earning.amount.to_f   %>
                              <% end %>
                            </td>
                          <% end %>

                          <% individual_earning_payslip = IndividualPayslipCategory.all(:conditions =>["salary_date >= ? and salary_date <= ? and employee_id = ? ",params[:start_date],params[:end_date],@emp.id] ) %>
                          <% responsibility_total = 0 %>
                          <% deducton_responsibility_total = 0 %>
                          <% unless individual_earning_payslip.empty? %>

                            <% individual_earning_payslip.each do |payslip| %>
                              <% if payslip.is_deduction %>
                                <% deducton_responsibility_total += payslip.amount.to_f  %>
                              <%# else %>
                                <%# responsibility_total += payslip.amount.to_f %>
                              <% end %>
                            <% end %>
                            <%# if hash_total["responsiblity"].nil? %>
                              <%# hash_total["responsiblity"] =  responsibility_total %>
                            <%#else%>
                              <%# hash_total["responsiblity"] += responsibility_total  %>
                            <%# end %>
                            <%# if hash_total["deduction_responsiblity"].nil? %>
                              <%# hash_total["deduction_responsiblity"] =  deducton_responsibility_total %>
                            <%#else%>
                              <%# hash_total["deduction_responsiblity"] += deducton_responsibility_total  %>
                            <%# end %>
                            <!-- <td class="col-1"> <%#= responsibility_total %>
                            </td> -->
                            <%# @earning_total +=responsibility_total %>
                          <%# else %>
                            <!-- <td class="col-1"> </td> -->
                          <% end %>
                          <td class="col-1"><% if hash_total["@earning_total"].nil? %>
                              <% hash_total["@earning_total"] =  @earning_total %>
                            <%else%>
                              <% hash_total["@earning_total"] +=  @earning_total %>
                            <% end %>
                            <%= @earning_total == 0 ? "" :  @earning_total   %></td>
                          <% end %>
                          <% unless @overall_deduction_categories.nil? %>
                            <% @deduction_total = 0 %>
                              <%# @deduction_total += deducton_responsibility_total  %>
                            <% @overall_deduction_categories.each do |overall_deduction_category| %>
                              <%  @deductions = MonthlyPayslip.find_by_employee_id_and_salary_date_and_payroll_category_id(@emp.id ,@mon_payslip.salary_date,overall_deduction_category.id) %>
                                    <!--  <%# unless @deductions.nil?%>
                                      <td class="col-1"><%#= @deductions.amount%></td>
                                    <%# @deduction_total += @deductions.amount.to_f %>
                                    <%# else%>
                                      <td class="col-1"></td>
                                    <%# end%>  -->
                                <% unless @deductions.nil?%>
                                  <% if hash_total["#{overall_deduction_category.id }"].nil? %>
                                    <% hash_total["#{overall_deduction_category.id }"] = @deductions.amount.to_f    %>
                                  <% else %>
                                    <% hash_total["#{overall_deduction_category.id }"] += @deductions.amount.to_f  %>
                                  <% end %>
                                  <% @deductions.amount == 0 ? "" :   @deductions.amount %>
                                  <% @deduction_total += @deductions.amount.to_f   %>
                                <% end %>
                    <% end %>
            <% end %>

            <% if hash_total["@deduction_total"].nil? %>
              <% hash_total["@deduction_total"] =  @deduction_total %>
            <%else%>
              <% hash_total["@deduction_total"] +=  @deduction_total %>
            <% end %>
            <% @deduction_total == 0 ? "" :  @deduction_total %>
                        <td><%  gross =  @earning_total+@deduction_total %>
                          <% if hash_total["gross"].nil? %>
                            <% hash_total["gross"] =  gross %>
                          <%else%>
                            <% hash_total["gross"] +=  gross %>
                          <% end %>
                          <%= gross == 0 ? "" : gross   %>
                        </td>
                        <% unless @overall_deduction_categories.nil? %>
                          <% @deduction_total = 0 %>
                         <%# @deduction_total += deducton_responsibility_total %>
                          <% @overall_deduction_categories.each do |overall_deduction_category| %>
                            <%  @deductions = MonthlyPayslip.find_by_employee_id_and_salary_date_and_payroll_category_id(@emp.id ,@mon_payslip.salary_date,overall_deduction_category.id) %>
                            <% unless @deductions.nil?%>
                              <td> <%= @deductions.amount == 0 ? "" :   @deductions.amount %></td>
                              <% @deduction_total += @deductions.amount.to_f   %>
                            <% else%>
                              <td class="col-1"></td>
                            <% end %>
                          <% end %>
                        <% end %>

                        <!-- <td><%#= deducton_responsibility_total==0 ? "" :  deducton_responsibility_total %></td> -->
                        <td> <%= @deduction_total == 0 ? "" :  @deduction_total %></td>
                        <td><% net_salary =   @earning_total-@deduction_total %>
                          <% if hash_total["net_salary"].nil? %>
                            <% hash_total["net_salary"] =  net_salary %>
                          <%else%>
                            <% hash_total["net_salary"] +=  net_salary %>
                          <% end %>
                          <%=   net_salary == 0 ? "" : net_salary %>
                        </td>
                        <% @counter+=1 %>
                      <% elsif @count >= @counter %>
                        <% if @counter == @count %>
                          <% @counter = 1 %>
                        <%  else %>
                          <% @counter+=1 %>
                        <%  end %>
                      <% end %>
                    <% end %>
                  </tr>
                  <tr class="tr-head"><td colspan="11"></td>
                    <% unless  @payroll_category.nil?%>
                      <% if @overall_earning_categories.present?  %>
                        <%  @overall_earning_categories.each do |overall_earning_category|%>
                          <% if  hash_grand_total["#{overall_earning_category.id}"].nil? %>
                            <%     hash_grand_total["#{overall_earning_category.id}"] = hash_total["#{overall_earning_category.id}"].to_f %>
                          <% else %>
                            <%     hash_grand_total["#{overall_earning_category.id}"] += hash_total["#{overall_earning_category.id}"].to_f %>
                          <% end %>
                          <td><%= hash_total["#{overall_earning_category.id}"]   %></td>
                        <% end %>
                        <% if  hash_grand_total["responsiblity"].nil? %>
                          <%     hash_grand_total["responsiblity"] = hash_total["responsiblity"].to_f %>
                        <% else %>
                          <%     hash_grand_total["responsiblity"] += hash_total["responsiblity"].to_f %>
                        <% end %>
                        <% if  hash_grand_total["@earning_total"].nil? %>
                          <%     hash_grand_total["@earning_total"] = hash_total["@earning_total"].to_f %>
                        <% else %>
                          <%     hash_grand_total["@earning_total"] += hash_total["@earning_total"].to_f %>
                        <% end %>

                        <!-- <td><%#= hash_total["responsiblity"] %></td> -->
                        <td><%= hash_total["@earning_total"] %></td>
                      <% end %>
                      <td> <%= hash_total["gross"]  %></td>
                      <% if  hash_grand_total["gross"].nil? %>
                        <%     hash_grand_total["gross"] = hash_total["gross"].to_f %>
                      <% else %>
                        <%     hash_grand_total["gross"] += hash_total["gross"].to_f %>
                      <% end %>
                      <% if @overall_deduction_categories.present?  %>
                        <%  @overall_deduction_categories.each do |overall_deduction_category|%>
                          <% if  hash_grand_total["#{overall_deduction_category.id}"].nil? %>
                            <%     hash_grand_total["#{overall_deduction_category.id}"] = hash_total["#{overall_deduction_category.id}"].to_f %>
                          <% else %>
                            <%     hash_grand_total["#{overall_deduction_category.id}"] += hash_total["#{overall_deduction_category.id}"].to_f %>
                          <% end %>

                          <td><%= hash_total["#{overall_deduction_category.id}"]   %></td>

                        <% end %>
                        <!-- <td>       <%#=  hash_total["deduction_responsiblity"] %></td> -->
                        <% if  hash_grand_total["deduction_responsiblity"].nil? %>
                          <%     hash_grand_total["deduction_responsiblity"] = hash_total["deduction_responsiblity"].to_f %>
                        <% else %>
                          <%     hash_grand_total["deduction_responsiblity"] += hash_total["deduction_responsiblity"].to_f %>
                        <% end %>
                        <td><%= hash_total["@deduction_total"] %></td>
                        <% if  hash_grand_total["@deduction_total"].nil? %>
                          <%     hash_grand_total["@deduction_total"] = hash_total["@deduction_total"].to_f %>
                        <% else %>
                          <%     hash_grand_total["@deduction_total"] += hash_total["@deduction_total"].to_f %>
                        <% end %>
                      <% end %>
                      <td><%= hash_total["net_salary"] %></td>
                      <% if  hash_grand_total["net_salary"].nil? %>
                        <%     hash_grand_total["net_salary"] = hash_total["net_salary"].to_f %>
                      <% else %>
                        <%     hash_grand_total["net_salary"] += hash_total["net_salary"].to_f %>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
                <tr class="tr-head"><td colspan="11"><%= t('grand_total') %></td>
                  <% unless  @payroll_category.nil?%>
                    <% if @overall_earning_categories.present?  %>
                      <%  @overall_earning_categories.each do |overall_earning_category|%>
                        <td> <%= hash_grand_total["#{overall_earning_category.id}"]   %> </td>
                      <% end %>

                      <!-- <td><%#=    hash_grand_total["responsiblity"] %></td> -->
                      <td><%=   hash_grand_total["@earning_total"] %></td>
                    <% end %>
                    <td> <%= hash_grand_total["gross"]  %></td>
                    <% if @overall_deduction_categories.present?  %>
                      <%  @overall_deduction_categories.each do |overall_deduction_category|%>
                        <td><%=hash_grand_total["#{overall_deduction_category.id}"]   %></td>
                      <% end %>
                      <!-- <td> <%#=    hash_grand_total["deduction_responsiblity"] %></td> -->
                      <td><%= hash_grand_total["@deduction_total"] %></td>
                    <% end %>
                    <td><%= hash_grand_total["net_salary"] %></td>
                  <%end%>
                </tr>
              <% end %>
            <% else %>
              <% unless @payrolls.nil? or @payrolls.blank?  %>
                <% hash_total = {} %>
                <% @payrolls.each do |gross| %>
                  <% @emp = Employee.find(gross.employee_id) %>
                  <%  @employee_paygrade = AlphenaPaygradePayrollCategory.find_all_by_paygrade_id(@emp.paygrade_id) %>
                  <% @count = @employee_paygrade.count %>
                  <% @earning_categories = [] %>
                  <% @deduction_categories = [] %>
                  <% @employee_paygrade.each do |employee_paygrade| %>
                    <% @categories = PayrollCategory.find_by_id_and_status_and_is_deleted(employee_paygrade.payroll_category_id,true,false)  %>
                    <% unless @categories.nil? %>
                      <% if @categories.is_deduction == false  %>
                        <% @earning_categories << employee_paygrade %>
                      <%  else %>
                        <% @deduction_categories << employee_paygrade %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if @counter == 1 %>
                    <tr class="tr-<%=cycle('odd','even')%>">
                      <td class="col-1">  <%=  i+=1 %></td>
                      <td class="col-1"><%= @emp.employee_number %></td>
                      <td class="col-1"><%= "#{@emp.first_name} #{@emp.last_name}" %></td>
                      <td class="col-1"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name %></td>
                      <td class="col-1"><%= @emp.employee_position %></td>
                      <td class="col-1"><%= @emp.joining_date %></td>
                      <td class="col-1"><%  @grades = @emp.employee_grade %><%= @grades.name unless @grades.nil?%></td>
                      <td class="col-1"><%=  @paygrades = AlphenaPaygrade.find(@emp.paygrade_id).name%></td>
                      <% @additional_field_name.each do |additional_field| %>
                        <td class="col-1"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
                          <%= @ead.additional_info unless @ead.nil? %>
                        </td>
                      <% end %>
                      <% unless @overall_earning_categories.nil? %>
                        <% @earning_total = 0 %>
                        <%  @overall_earning_categories.each do |overall_earning_category| %>
                          <%  @earning = MonthlyPayslip.find_by_employee_id_and_salary_date_and_payroll_category_id(@emp.id ,gross.salary_date,overall_earning_category.id) %>
                          <!--  <td class="col-1"><%#= @earning.amount%></td>
              <%# @earning_total += @earning.amount.to_f %>
              <%# else%>
                <td class="col-1"></td>
              <%# end%>  -->
                          <td><% unless @earning.nil?%>
                              <% if hash_total["#{overall_earning_category.id }"].nil? %>
                                <% hash_total["#{overall_earning_category.id }"] = @earning.amount.to_f    %>
                              <% else %>
                                <% hash_total["#{overall_earning_category.id }"] += @earning.amount.to_f  %>
                              <% end %>
                              <%= @earning.amount == 0 ? "" :   @earning.amount %>
                              <% @earning_total += @earning.amount.to_f   %>
                            <% end %>
                          </td>
                        <% end %>
                        <% individual_earning_payslip = IndividualPayslipCategory.all(:conditions =>["salary_date >= ? and salary_date <= ? and employee_id = ?",params[:start_date],params[:end_date],@emp.id] ) %>
                        <% responsibility_total = 0 %>
                        <% deducton_responsibility_total = 0 %>
                        <% unless individual_earning_payslip.empty? %>

                          <% individual_earning_payslip.each do |payslip| %>
                            <% if payslip.is_deduction %>
                              <% deducton_responsibility_total += payslip.amount.to_f  %>
                            <%# else %>
                              <%# responsibility_total += payslip.amount.to_f %>
                            <% end %>
                          <% end %>
                          <%# if hash_total["responsiblity"].nil? %>
                            <%# hash_total["responsiblity"] =  responsibility_total %>
                          <%#else%>
                            <%# hash_total["responsiblity"] += responsibility_total  %>
                          <%# end %>
                          <%# if hash_total["deduction_responsiblity"].nil? %>
                              <%# hash_total["deduction_responsiblity"] =  deducton_responsibility_total %>
                            <%#else%>
                              <%# hash_total["deduction_responsiblity"] += deducton_responsibility_total  %>
                            <%# end %>
                          <!-- <td class="col-1"> <%#= responsibility_total %> -->
                          <!-- </td> -->
                          <%# @earning_total +=responsibility_total %>
                        <%# else %>
                          <!-- <td class="col-1"> </td> -->
                        <% end %>
                        <td class="col-1"><% if hash_total["@earning_total"].nil? %>
                            <% hash_total["@earning_total"] =  @earning_total %>
                          <%else%>
                            <% hash_total["@earning_total"] +=  @earning_total %>
                          <% end %>
                          <%= @earning_total == 0 ? "" :  @earning_total   %></td>
                        <% end %>
                        <% unless @overall_deduction_categories.nil? %>
                          <% @deduction_total = 0 %>
                            <%# @deduction_total += deducton_responsibility_total  %>
                          <% @overall_deduction_categories.each do |overall_deduction_category| %>
                            <%  @deductions = MonthlyPayslip.find_by_employee_id_and_salary_date_and_payroll_category_id(@emp.id ,gross.salary_date,overall_deduction_category.id) %>
                          <!--  <%# unless @deductions.nil?%>
                            <td class="col-1"><%#= @deductions.amount%></td>
              <%# @deduction_total += @deductions.amount.to_f %>
              <%# else%>
                <td class="col-1"></td>
              <%# end%>  -->
              <% unless @deductions.nil?%>
                <% if hash_total["#{overall_deduction_category.id }"].nil? %>
                  <% hash_total["#{overall_deduction_category.id }"] = @deductions.amount.to_f    %>
                <% else %>
                  <% hash_total["#{overall_deduction_category.id }"] += @deductions.amount.to_f  %>
                <% end %>
                <% @deductions.amount == 0 ? "" :   @deductions.amount %>
                <% @deduction_total += @deductions.amount.to_f   %>
              <% end %>
            <% end %>
          <% end %>
          <% if hash_total["@deduction_total"].nil? %>
            <% hash_total["@deduction_total"] =  @deduction_total %>
          <%else%>
            <% hash_total["@deduction_total"] +=  @deduction_total %>
          <% end %>
          <% @deduction_total == 0 ? "" :  @deduction_total %>
                      <td><%  t_gross =  @earning_total+@deduction_total %>
                        <% if hash_total["gross"].nil? %>
                          <% hash_total["gross"] =  t_gross %>
                        <%else%>
                          <% hash_total["gross"] +=  t_gross %>
                        <% end %>
                        <%= t_gross == 0 ? "" : t_gross   %>
                      </td>
                      <% unless @overall_deduction_categories.nil? %>
                        <% @deduction_total = 0 %>
                       <%# @deduction_total += deducton_responsibility_total %>
                        <% @overall_deduction_categories.each do |overall_deduction_category| %>
                          <%  @deductions = MonthlyPayslip.find_by_employee_id_and_salary_date_and_payroll_category_id(@emp.id ,gross.salary_date,overall_deduction_category.id) %>
                          <% unless @deductions.nil?%>
                            <td> <%= @deductions.amount == 0 ? "" :   @deductions.amount %></td>
                            <% @deduction_total += @deductions.amount.to_f   %>
                          <% else%>
                            <td class="col-1"></td>
                          <% end %>
                        <% end %>
                      <% end %>
                      <!-- <td><%#= deducton_responsibility_total %></td> -->
                      <td> <%= @deduction_total == 0 ? "" :  @deduction_total %></td>
                      <td><% net_salary =   @earning_total-@deduction_total %>
                        <% if hash_total["net_salary"].nil? %>
                          <% hash_total["net_salary"] =  net_salary %>
                        <%else%>
                          <% hash_total["net_salary"] +=  net_salary %>
                        <% end %>
                        <%=   net_salary == 0 ? "" : net_salary %>
                      </td>
                      <% @counter+=1 %>
                    <% elsif @count >= @counter %>
                      <% if @counter == @count %>
                        <% @counter = 1 %>
                      <%  else %>
                        <% @counter+=1 %>
                      <%  end %>
                    <% end %>
                  <% end %>
                </tr>
                <tr class="tr-head"><td colspan="11"><%= t('grand_total') %></td>
                  <% unless  @payroll_category.nil?%>
                    <% if @overall_earning_categories.present?  %>
                      <%  @overall_earning_categories.each do |overall_earning_category|%>
                        <td><%= hash_total["#{overall_earning_category.id}"]   %></td>
                      <% end %>
                      <!-- <td><%#= hash_total["responsiblity"] %></td> -->
                      <td><%= hash_total["@earning_total"] %></td>
                    <% end %>
                    <td> <%= hash_total["gross"]  %></td>
                    <% if @overall_deduction_categories.present?  %>
                      <%  @overall_deduction_categories.each do |overall_deduction_category|%>
                        <td><%= hash_total["#{overall_deduction_category.id}"]   %></td>
                      <% end %>
                      <!-- <td><%#= hash_total["deduction_responsiblity"] %></td> -->
                      <td><%= hash_total["@deduction_total"] %></td>
                    <% end %>
                    <td><%= hash_total["net_salary"] %></td>
                  <% end %>
                </tr>


              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="extender"></div>
<div class="hor_line"></div>
<div class="extender"></div>
<style>
  .outer {position:relative}
  .inner {
    overflow-x:scroll;
    overflow-y:visible;
    width:950px;
  }
</style>
