
 <div id="page-yield" class="available_sections1">
   <div class="page1"></div>
    <div class="section1 row" >
    <div class="hor_line"></div>
    <h2><%= t('cumulative_reports') %></h2>
    <div class="hor_line"></div>
    </div>
     <div class="section1 row" id="table-headers" >
      <center>
        <table id="pdf-table" cellspacing="0">
        <tr class="tr-head"> <td colspan="12" align ="center">From: <%= params[:start_date].to_date  %>&nbsp To: <%= params[:end_date].to_date %> </td></tr>
        <tr class="table-header">
            <td colspan="8" align ="center"><%= t('biodata') %></td>
            <td class="col-pdf amount" rowspan="2" align ="center"><%= "#{t('payroll_categories')}" %></td>
            <td class="col-pdf name" rowspan="2" align ="center"><%= "#{t('amount')}" %></td>
            <td class="col-pdf name" rowspan="2" align ="center"><%= "#{t('net_salary')}" %></td>
            <td class="col-pdf name" rowspan="2" align ="center"><%= t('gross_salary') %></td>
          </tr>
          <tr class="table-header">
            <td class="col-pdf sl_no"><%= t('no1') %></td>
            <td class="col-pdf e_no"><%=  t('employee_id') %></td>
            <td class="col-pdf name"><%=  t('employee_name1') %></td>
            <td class="col-pdf e_dept"><%= t('department') %></td>
            <td class="col-pdf e_dept"><%= t('position') %></td>
            <td class="col-pdf e_dept"><%= t('assumption_date') %></td>
            <td class="col-pdf e_dept"><%= t('grade') %></td>
            <td class="col-pdf e_dept"><%= t('pay_grade') %></td>            
          </tr>
        </table>
      </center>
     </div>
     <% i=0 %>
     <% @counter = 1 %>
     <% @payrolls.each do |gross| %>
     <% @emp = Employee.find(gross.employee_id) %>
     <%  @employee_paygrade = AlphenaPaygradePayrollCategory.find_all_by_paygrade_id(@emp.paygrade_id) %>
     <% @count = @employee_paygrade.count %>
     <% @earning_categories = [] %>
     <% @deduction_categories = [] %>
     <% @employee_paygrade.each do |employee_paygrade| %>
     <% @categories = PayrollCategory.find_by_id_and_status_and_is_deleted(employee_paygrade.payroll_category_id,true,false)  %>
     <% unless @categories.nil? %>
        <% if @categories.is_deduction == false  %>
          <% @earning_categories << employee_paygrade %>
        <%  else %>
          <% @deduction_categories << employee_paygrade %>
        <% end %>
    <% end %>
      <% end %>
        <% if @counter == 1 %>
        <%# c =cycle('even','odd ') %>
        <div class="section1 row" >
        <center>
          <table id="pdf-table" cellspacing="0">
            <tr >
              <td class="col-pdf sl_no">  <%=  i+=1 %></td>
                <td class="col-pdf e_no"><%= @emp.employee_number %></td>
                <td class="col-pdf name"><%= "#{@emp.first_name} #{@emp.last_name}" %></td>
                <td class="col-pdf e_dept"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name%></td>
                <td class="col-pdf e_dept"><%= @emp.employee_position %></td>
                <td class="col-pdf e_dept"><%= @emp.joining_date %></td>
                <td class="col-pdf e_dept"><%=  @grades = EmployeeGrade.find(@emp.employee_grade_id).name%></td>
                <td class="col-pdf e_dept"><%=  @paygrades = AlphenaPaygrade.find(@emp.paygrade_id).name%></td>
                  <td class="col-pdf amount">
                <% unless @earning_categories.nil? %>
                  <%  @earning_categories.each do |earning_categories| %>
                  <div class="col-pdf amount"><%= PayrollCategory.find(earning_categories.payroll_category_id).name %></div>
                <% end %>
                <% end %>
                <% unless @deduction_categories.nil? %>
                <% @deduction_categories.each do |deduction_categories| %>
                <div class="col-pdf amount">(<%= PayrollCategory.find(deduction_categories.payroll_category_id).name %>)</div>
                <% end %>
                <% end %>
                </td>
                <td class="col-pdf name" align ="center">
                  <% unless @earning_categories.nil? %>
                 <% earning_total = 0 %>
                  <%  @earning_categories.each do |earning_categories| %>
                  <div class="col-pdf name" align ="center"><%= earning_categories.amount %></div>
                  <% earning_total = earning_total+earning_categories.amount %>
                <% end %>
                <% end %>
                <% unless @deduction_categories.nil? %>
                <% deduction_total = 0 %>
                <% @deduction_categories.each do |deduction_categories| %>
                <div class="col-pdf name" align ="center">(<%= deduction_categories.amount %>)</div>
                <% deduction_total = deduction_total+deduction_categories.amount  %>
                <% end %>
                <% end %>
                </td>
                <td class="col-pdf name" align ="center"> <%= earning_total %></td>
                <td class="col-pdf name" align="center"><%= total=earning_total+deduction_total %></td>
                <% @counter+=1 %>
              <% elsif @count >= @counter %>
                <% if @counter == @count %>
                  <% @counter = 1 %>
                <%  else %>
                  <% @counter+=1 %>
                <%  end %>
              <% end %>
            <%  end %>
              </tr>
          </table>
        </center>
        </div>
     
    </div>

<style>
#page-yield {
    width:auto;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

#page-yield h2{
    text-align: center;
}

.hor_line{
    width:0 auto;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

.table-header td{
    padding: 10px 3px 10px 2px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
    font-size: 14px;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}
#page-yield h2{
    text-align: center;
}

#pdf-footer{
    text-align: right;
    width: 800px;
    padding-right: 100px;
    padding: 50px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;

}
.section1{    
    text-align: right;
}
.row{
    float: left;
    width: 100%;
    text-align: right;
}
.tot-emp-text{
  color: #555555;
  font-weight: bold;
  float: left;
  font-size: 14px;
  width: 88%;

}

.tr-head{
  font-weight: bold;
}
.tot-emp-val{
    color: #97080e;
    font-size: 14px;
    float: left;
    
}
.tot-emp{
    font-size: 14px;
    padding: 7px;
    margin-top: 15px;
    width: 100%;
}

.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
   /* height :100px;*/
}

tr{
    border: 1px solid #ADACAB;
    height:auto;
    background: #EEEEEE;
   /* height :100px;*/
}
td{

    padding: 10px 3px 10px 2px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    background: #EEEEEE;

}

tr.odd{
    border: 1px solid #ADACAB;
    /*height :100px;*/
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}
td.col-pdf-bold{
    font-weight: 100;
}
.page1 {
    width:100%;
    height: auto;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width: 100%;
    float: left;
}
.page-blank{
    width: 100%;
    float: left;
    border-top: 1px solid #ADACAB;
}
.page_break{
    margin-top: 60px;
}
.amount{
    width:270px;
    min-width:270px;
    max-width:270px;
    overflow: hidden;
    padding: 10px 3px 10px 2px;
    font-size: 14px;
}
.sl_no{
    width:30px;
    min-width:30px;
    max-width:30px;
    overflow: hidden;
    padding: 10px 3px 10px 2px;
    font-size: 14px;
}
.name{
    width:80px;
    min-width:80px;
    max-width:100px;
    overflow: hidden;
    padding: 10px 3px 10px 2px;
    font-size: 14px;
}
.e_dept{
    width:70px;
    min-width:70px;
    max-width:70px;
    overflow: hidden;
    padding: 10px 3px 10px 2px;
    font-size: 14px;
}
.e_no{
    width:70px;
    min-width:70px;
    max-width:70px;
    overflow: hidden;
    padding: 10px 3px 10px 2px;
    font-size: 14px; 
}
.j_date{
    width:50px;
    min-width:50px;
    
    padding: 10px 3px 10px 2px;
    font-size: 12px;
}
</style>