<%= stylesheet_link_tag "alphena_report/employee_payroll_category.css" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('employee_payroll_category')}" %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :reports_employee_payroll_category %>
    <%= render_breadcrumbs  %>
  </div>
    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  <% form_for :payroll do |f| %>
              <div id="box">
                <div class="label-field-pair">
                  <label for="former_students"><%= t('select_payroll_category') %></label>
                  <% selected_payroll = params[:payroll].blank? ? "" : params[:payroll][:payroll_cat].blank? ? "" : params[:payroll][:payroll_cat] %>
                  <div class="text-input-bg">
                    <%= f.select  :payroll_cat,[["#{t('payroll_category')}",'All'],["#{t('gross')}",'gross'],["#{t('net_salary')}",'net_salary'],["#{t('deduction')}",'deduction']] + @category.map {|c| [c.name, c.id]},
                    {:selected=>selected_payroll.to_i, :prompt => "#{t('payroll_category')}"}%>
                  </div>
                </div>
                <div class="label-field-pair">
                  <label for="employee_joining_date"><%= t('from')%></label>
                  <div class="text-input-bg">
                    <%= calendar_date_select_tag 'start_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
                  </div>
                </div>
                <div class="label-field-pair">
                  <label for="employee_joining_date"><%= t('to') %></label>
                  <div class="text-input-bg">
                    <%= calendar_date_select_tag 'end_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
                  </div>
                </div>
                <%= submit_tag "► #{t('view')}",:class=>'submit_button' %>
    <% end %>
  </div>
  <div id="payslip">
        <% if request.post? %>
                    <% unless @payrolls.nil? or @payrolls.blank?  %>
                    <div id = "submit-button">
                      <%= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"employee_payroll_pdf", :page_height => 680,:report_format_type => "pdf" ,:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
                      <%= link_to "► #{t('csv_report')}", {:controller=>"report", :action=>"generate_csv_file", :report_format_type => "csv",:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button'%>
                    </div>
                    <table id="listing" width="100%">
                      <tr class="tr-head"> <td colspan="9" align ="center"><%= PayrollCategory.find(params[:payroll][:payroll_cat]).name.upcase %>&nbsp&nbsp From:<%= params[:start_date].to_date.to_date.strftime("%d %m %Y")  %>&nbsp To:<%= params[:end_date].to_date.to_date.to_date.strftime("%d %m %Y") %> </td></tr>
                      <tr class="tr-head">
                        <td><%= t('sl_no') %></td>
                        <td><%=  t('employee_name1')%></td>
                        <td><%= t('employee_dept') %></td>
                        <td><%= t('payroll_category') %></td>
                                <% @additional_field_name.each do |additional_field| %>
                                <td><%= additional_field.name  %></td>
                                <% end %>
                        <td><%= t('amount') %></td>
                      </tr>
                      <% i=0 %>
                      <% total=0 %>
                              <% @payrolls.each do |pay_cat| %>
                              <tr class="tr-<%=cycle('odd','even')%>">
                                <td class="col-1">  <%=  i+=1 %></td>
                                <%@emp = Employee.find(pay_cat.employee_id)  %>
                                <td class="col-1"><%= @emp.first_name + @emp.last_name%></td>
                                <td class="col-1"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name%></td>
                                <td class="col-1"><%= @pay_cat = PayrollCategory.find(pay_cat.payroll_category_id).name %></td>
                                        <% @additional_field_name.each do |additional_field| %>
                                        <td class="col-1"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
                                         <%= @ead.additional_info unless @ead.nil? %>
                                       </td>
                                       <% end %>
                               <td class="col-1"><%= pay_cat.amount   %></td>
                               <% total+=pay_cat.amount.to_f %>
                             </tr>
                             <% end %>
                     <tr class="tr-blank"></tr>
                     <tr class="tr-odd">
                      <td class="col-1" colspan="9" style="padding-left:85%"><%= t('grand_total') %> <span style="padding-left:10%"><%= total %></span></td>
                    </tr>
                  </table>
                  <% end %>
          <% unless @responsibility.nil? or @responsibility.blank? %>
          <div id = "submit-button">
            <%= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"employee_payroll_pdf", :page_height => 680,:report_format_type => "pdf" ,:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
            <%= link_to "► #{t('csv_report')}", {:controller=>"report", :action=>"responsibility_csv_file", :report_format_type => "csv",:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button'%>
          </div>
          <table id="listing" width="100%">
            <tr class="tr-head"> <td colspan="9" align ="center"><%= params[:payroll][:payroll_cat].upcase %>&nbspFrom:<%= params[:start_date].to_date.to_date.to_date.strftime("%d %m %Y") %>&nbsp To:<%= params[:end_date].to_date.to_date.to_date.strftime("%d %m %Y") %></td></tr>
            <tr class="tr-head">
              <td><%= t('sl_no') %></td>
              <td><%=  t('employee_name1')%></td>
              <td><%= t('employee_dept') %></td>
              <td><%= t('salary_date') %></td>
                    <% @additional_field_name.each do |additional_field| %>
                    <td><%= additional_field.name  %></td>
                    <% end %>
                        <td><%= t('amount') %></td>
                      </tr>
                      <% i=0 %>
                      <% total =0 %>
                    <% @responsibility.each do |gross| %>         
                    <tr class="tr-<%=cycle('odd','even')%>">
                      <%@emp = Employee.find(gross.employee_id)  %>
                      <td class="col-1">  <%=  i+=1 %></td>
                      <td class="col-1"><%= @emp.full_name%></td>
                      <td class="col-1"><%=  @emp.employee_department.name%></td>
                      <td class="col-1"><%= gross.salary_date %></td>
                          <% @additional_field_name.each do |additional_field| %>
                              <td class="col-1"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
                               <%= @ead.additional_info unless @ead.nil? %>
                             </td>
                          <% end %>
                     <td class="col-1"><%= gross.amount %></td>
                   </tr>
                   <% total += gross.amount.to_f%>
                   <% end%>
           <tr class="tr-blank"></tr>
           <tr class="tr-odd">
            <td class="col-1" colspan="9" style="padding-left:85%"><%= t('grand_total') %> <span style="padding-left:10%"><%= total %></span></td>
            </tr>
            </table>
          <% end%>

          <% unless @individual_deductions.nil? or @individual_deductions.blank? %>
         <div id = "submit-button">
            <%#= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"employee_payroll_pdf", :page_height => 680,:report_format_type => "pdf" ,:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
            <%= link_to "► #{t('csv_report')}", {:controller=>"report", :action=>"individual_deduction_csv_file", :report_format_type => "csv",:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button'%>
          </div> 
          <table id="listing" width="100%">
            <tr class="tr-head"> <td colspan="9" align ="center"><%= params[:payroll][:payroll_cat].upcase %>&nbspFrom:<%= params[:start_date].to_date.to_date.to_date.strftime("%d %m %Y") %>&nbsp To:<%= params[:end_date].to_date.to_date.to_date.strftime("%d %m %Y") %></td></tr>
            <tr class="tr-head">
              <td><%= t('sl_no') %></td>
              <td><%=  t('employee_name1')%></td>
              <td><%= t('employee_dept') %></td>
              <td><%= t('salary_date') %></td>
                    <% @additional_field_name.each do |additional_field| %>
                    <td><%= additional_field.name  %></td>
                    <% end %>
                        <td><%= t('amount') %></td>
                      </tr>
                      <% i=0 %>
                      <% total =0 %>
                    <% @individual_deductions.each do |gross| %>         
                    <tr class="tr-<%=cycle('odd','even')%>">
                      <%@emp = Employee.find(gross.employee_id)  %>
                      <td class="col-1">  <%=  i+=1 %></td>
                      <td class="col-1"><%= @emp.full_name%></td>
                      <td class="col-1"><%=  @emp.employee_department.name%></td>
                      <td class="col-1"><%= gross.salary_date %></td>
                          <% @additional_field_name.each do |additional_field| %>
                              <td class="col-1"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
                               <%= @ead.additional_info unless @ead.nil? %>
                             </td>
                          <% end %>
                     <td class="col-1"><%= gross.amount %></td>
                   </tr>
                   <% total += gross.amount.to_f%>
                   <% end%>
           <tr class="tr-blank"></tr>
           <tr class="tr-odd">
            <td class="col-1" colspan="9" style="padding-left:85%"><%= t('grand_total') %> <span style="padding-left:10%"><%= total %></span></td>
            </tr>
            </table>
          <% end%>

    <% unless @categories.nil? or @categories.blank? %>
    <div id = "submit-button">
      <%= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"employee_payroll_pdf", :page_height => 680,:report_format_type => "pdf" ,:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
      <%= link_to "► #{t('csv_report')}", {:controller=>"report", :action=>"generate_gross_csv_file", :report_format_type => "csv",:payroll_cat => params[:payroll][:payroll_cat], :start_date => params[:start_date],:end_date => params[:end_date]}, :class => 'user_button'%>
    </div>
    <table id="listing" width="100%">
      <tr class="tr-head"> <td colspan="9" align ="center"><%= params[:payroll][:payroll_cat].upcase %>&nbspFrom:<%= params[:start_date].to_date.to_date.to_date.strftime("%d %m %Y") %>&nbsp To:<%= params[:end_date].to_date.to_date.to_date.strftime("%d %m %Y") %></td></tr>
        <tr class="tr-head">
          <td><%= t('sl_no') %></td>
          <td><%=  t('employee_name1')%></td>
          <td><%= t('employee_dept') %></td>
          <td><%= t('salary_date') %></td>
              <% @additional_field_name.each do |additional_field| %>
              <td><%= additional_field.name  %></td>
              <% end %>
          <td><%= t('amount') %></td>
        </tr>


          <% i=0 %>
          <% total=0 %>
          <% grand_total=0 %>
          <% @counter = 1 %>
          <% @categories.each do |gross| %>
          <% @count = 0 %>
          <%@emp = Employee.find(gross.employee_id)  %>
              <% if params[:payroll][:payroll_cat] == "net_salary" %>
              <%  @earnings = PayrollCategory.find_all_by_is_deduction_and_status_and_is_deleted(false,true,false) %>
                    <% @earnings.each do |earning|%>
                    <% @pay_earning = AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@emp.paygrade_id,earning.id) %>
                        <% unless @pay_earning.nil? %>
                        <% @count+=1 %>
                        <%end%>
                    <% end%>
              <% elsif params[:payroll][:payroll_cat] == "deduction"%>
              <%  @deductions = PayrollCategory.find_all_by_is_deduction_and_status_and_is_deleted(true,true,false) %>
                    <% @deductions.each do |deduction|%>
                    <% @pay_deduction = AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@emp.paygrade_id,deduction.id) %>
                          <% unless @pay_deduction.nil? %>
                          <% @count+=1 %>
                          <%end%>
                    <% end%>      
              <% else %>
              <%  @count = AlphenaPaygradePayrollCategory.find_all_by_paygrade_id(@emp.paygrade_id).count %>
              <% end %>


              <% if @counter == 1  %>
              <tr class="tr-<%=cycle('odd','even')%>">
                <td class="col-1">  <%=  i+=1 %></td>
                <td class="col-1"><%= @emp.first_name + @emp.last_name%></td>
                <td class="col-1"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name%></td>
                <td class="col-1"><%= format_date(gross.salary_date) %></td>
                      <% @additional_field_name.each do |additional_field| %>
                            <td class="col-1"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
                             <%= @ead.additional_info unless @ead.nil? %>
                     </td>
                     <% end %>
               <% individual_category = IndividualPayslipCategory.find_by_employee_id_and_salary_date_and_is_deduction(gross.employee_id,gross.salary_date,false) %>
               <% total+= gross.amount.to_i + (individual_category.nil? ? 0 : individual_category.amount).to_f%>
               <% @counter+=1 %>
               <%  elsif @count >= @counter %>
               <% total+= gross.amount.to_i + (individual_category.nil? ? 0 : individual_category.amount).to_f %>
                   <% if @counter == @count %>
                   <% @counter = 1 %>
                   <td class="col-1"><%= total %></td> </tr>
                   <% total = 0 %>
                   <%  else %>
                   <% @counter+=1 %>
                   <%  end %>
               <%  end %>
           <%grand_total+=gross.amount.to_i + (individual_category.nil? ? 0 : individual_category.amount).to_f %>
           <% end %>
       <tr class="tr-blank"></tr>
       <tr class="tr-odd">
        <td colspan="12" style="padding-left:85%"><%= t('grand_total') %> <span style="padding-left:10%"><%= grand_total %></span></td>
      </tr>
    </table>
    <% end %>
<% end %>

<div class="extender"></div>
<div class="hor_line"></div>
<div class="extender"></div>
</div>
</div>


