<%= stylesheet_link_tag "alphena_report/employee_payroll_reports.css" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%="#{t('employee_payroll_reports')} #{t('details')}" %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :reports_employee_payroll_reports %>
    <%= render_breadcrumbs  %>
  </div>
 
  <div class="extender"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('employee_payroll_category')}" ,:action=>'employee_payroll_category' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('employee_payroll_category')}"  %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('alphena_paygrades')}", :controller=>"alphena_paygrades", :action=>"add_paygrade" %></div>
      <div class="link-descr"><%= "#{t('add_edit_employee_paygrade')}" %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('list_payroll_categories')}", :controller=>"payroll", :action=>"list_payroll_categories" %></div>
      <div class="link-descr"><%= "#{t('add_edit_list_payroll_categories')}" %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('cumulative_reports')}", :action=>"cummulative_report" %></div>
      <div class="link-descr"><%= "#{t('cumulative_reports_for_each_employee')}" %></div>
    </div>

     <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('salary_structure_report')}", :action=>"monthly_wise_payslip" %></div>
      <div class="link-descr"><%= "#{t('salary_structure_for_employees')}" %></div>
    </div>

     <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_costcode')}", :controller=>"costcodes", :action=>"new" %></div>
      <div class="link-descr"><%= "#{t('costcode_for_each_employee')}" %></div>
    </div>
<div class="link-box">
      <div class="link-heading"><%= link_to "#{t('bank_mandate')}", :controller=>"employee", :action=>"bank_details" %></div>
      <div class="link-descr"><%= "#{t('bank_report_for_employees')}" %></div>
    </div>
<div class="link-box">
      <div class="link-heading"><%= link_to "#{t('default_employee_additional_fields')}", :controller=>"report", :action=>"after_employee_created" %></div>
      <div class="link-descr"><%= "#{t('add_default_additional_fields')}" %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('department_wise_reports')}", :controller=>"employee", :action=>"department_wise_monthly_payslip" %></div>
      <div class="link-descr"><%= "#{t('department_wise_monthly_reports')}" %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('gifmis_mandate_report')}", :controller=>"employee", :action=>"gifmis_mandate_report" %></div>
      <div class="link-descr"><%= "#{t('gifmis_mandate_report_details')}" %></div>
    </div> 

    </div>
</div>