 <div id="page-yield" class="available_sections1">    
   <% unless @payrolls.nil? %>
   <div class="page1"></div>
   <div class="section1 row" >
    <div class="hor_line"></div>
    <h2><%= t('payroll_category_report') %></h2>
    <div class="hor_line"></div>
  </div>
  <div class="section1 row" id="table-headers" >
    <center>
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="tr-head"> <td colspan="5" align ="center">From: <%= params[:start_date].to_date  %>&nbsp To: <%= params[:end_date].to_date %> </td></tr>
        <tr class="table-header">
          <td <tr class="table-header">><%= t('sl_no') %></td>
          <td class="col-pdf name"><%=  t('employee_name1')%></td>
          <td class="col-pdf e_dept"><%= t('employee_dept') %></td>
          <td class="col-pdf j_date"><%= t('payroll_category') %></td>
          <% @additional_field_name = AdditionalField.find_all_by_name(["Rank","Nature of Appointment","Salary Structure","GL Level"]) %>
          <% @additional_field_name.each do |additional_field| %>
          <td class="col-pdf e_dept"><%= additional_field.name  %></td>
          <% end %>
          <td class="col-pdf amount"><%= t('amount') %></td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section1 row" >
    <center>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% i=0 %>
        <% total=0 %>
        <% @payrolls.each do |pay_cat| %>
        <% c =cycle('even','odd ') %>
        <tr class="<%= "#{c}" %>">
          <td class="col-pdf sl_no"><%=  i+=1 %></td>
          <%@emp = Employee.find(pay_cat.employee_id)  %>
          <td class="col-pdf name"><%= @emp.first_name + @emp.last_name%></td>
          <td class="col-pdf e_dept"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name%></td>
          <td class="col-pdf j_date"><%= @pay_cat = PayrollCategory.find(pay_cat.payroll_category_id).name %></td>
          <% @additional_field_name.each do |additional_field| %>
          <td class="col-pdf e_dept"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
           <%= @ead.additional_info unless @ead.nil? %>
         </td>
         <% end %>
         <td class="col-pdf amount"><%= pay_cat.amount   %></td>
         <% individual_category = IndividualPayslipCategory.find_by_employee_id_and_salary_date_and_is_deduction(pay_cat.employee_id,pay_cat.salary_date,false) %>
         <% total+=pay_cat.amount.to_i %>
         <% end %>
       </tr>
     </table>
   </center>
 </div>
 <div class="section1 row" id="table-headers" >
  <center>
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="tr-blank"></tr>
      <tr class="table-header">
        <td class="col-1" colspan="5" style="padding-left:60%"><%= t('grand_total') %> <span style="padding-left:20%"><%= total %></span></td>
      </tr>
    </table>
  </center>
</div>
<% end %> 
<% unless @responsibility.nil? or @responsibility.blank? %>
<div class="section1 row" >
  <div class="hor_line"></div>
  <h2><%= t('responsibility') %></h2>
  <div class="hor_line"></div>
</div>
<table id="pdf-table" width="100%" cellspacing="0">
  <tr class="tr-head"> <td colspan="9" align ="center">
    From:<%= params[:start_date].to_date %>&nbsp To:<%= params[:end_date].to_date %></td></tr> 
    <tr class="table-header">
      <td <tr class="table-header">><%= t('sl_no') %></td>
      <td class="col-pdf name"><%=  t('employee_name1')%></td>
      <td class="col-pdf e_dept"><%= t('employee_dept') %></td>
      <td class="col-pdf j_date"><%= t('salary_date') %></td> 
      <% @additional_field_name = AdditionalField.find_all_by_name(["Rank","Nature of Appointment","Salary Structure","GL Level"]) %>
      <% @additional_field_name.each do |additional_field| %>
      <td class="col-pdf e_dept"><%= additional_field.name  %></td>
      <% end %>          
      <td class="col-pdf amount"><%= t('amount') %></td>
    </tr>
    <% i=0 %>
    <% total =0 %>
    <% @responsibility.each do |gross| %>         
    <% c =cycle('even','odd ') %>
    <tr class="<%= "#{c}" %>">
      <%@emp = Employee.find(gross.employee_id)  %>
      <td class="col-pdf sl_no">  <%=  i+=1 %></td>
      <td class="col-pdf name"><%= @emp.full_name%></td>
      <td class="col-pdf e_dept"><%=  @emp.employee_department.name%></td>
      <td class="col-pdf j_date"><%= gross.salary_date %></td>
      <% @additional_field_name.each do |additional_field| %>
      <td class="col-pdf e_dept"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
       <%= @ead.additional_info unless @ead.nil? %>
     </td>
     <% end %>                
     <td class="col-pdf amount"><%= gross.amount %></td>
   </tr>
 <% total += gross.amount.to_f%>
 <% end%>
 </table>
 <tr class="tr-blank"></tr>        
 <div class="section1 row" id="table-headers" >
  <center>
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="tr-blank"></tr>
      <tr class="table-header">
        <td class="col-1" colspan="5" style="padding-left:60%"><%= t('grand_total') %> <span style="padding-left:20%"><%= total %></span></td>
      </tr>
    </table>
  </center>
</div>
<% end%>
<% unless @categories.nil? or @categories.blank?  %>
<div class="page1"></div>
<div class="section1 row" >
  <div class="hor_line"></div>
  <h2><%= params[:payroll_cat].upcase %>&nbsp Report </h2>
  <div class="hor_line"></div>
</div>
<div class="section1 row" id="table-headers" >
  <center>
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="tr-head"> <td colspan="5" align ="center"> From: <%= params[:start_date].to_date  %>&nbsp  To: <%= params[:end_date].to_date %> </td></tr>
      <tr class="table-header">
        <td class="col-pdf sl_no"><%= t('sl_no') %></td>
        <td class="col-pdf name"><%=  t('employee_name1')%></td>
        <td class="col-pdf e_dept"><%= t('employee_dept') %></td>
        <td class="col-pdf j_date"><%= t('salary_date') %></td>
        <% @additional_field_name = AdditionalField.find_all_by_name(["Rank","Nature of Appointment","Salary Structure","GL Level"]) %>
        <% @additional_field_name.each do |additional_field| %>
        <td class="col-pdf e_dept"><%= additional_field.name  %></td>
        <% end %>  
        <td class="col-pdf amount"><%= t('amount') %></td>
      </tr>
    </table>
  </center>
</div>
<% i=0 %>
<% total=0 %>
<% grand_total=0 %>
<% @counter = 1 %>
<% @categories.each do |gross| %>
<% @count = 0 %>
<%@emp = Employee.find(gross.employee_id)  %>
<% if params[:payroll_cat] == "net_salary" %>
<%  @earnings = PayrollCategory.find_all_by_is_deduction_and_status_and_is_deleted(false,true,false) %>
<% @earnings.each do |earning|%>
<% @pay_earning = AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@emp.paygrade_id,earning.id) %>
<% unless @pay_earning.nil? %>
<% @count+=1 %>
<%end%>
<% end%>
<% elsif params[:payroll_cat] == "deduction"%>
<%  @deductions = PayrollCategory.find_all_by_is_deduction_and_status_and_is_deleted(true,true,false) %>
<% @deductions.each do |deduction|%>
<% @pay_deduction = AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@emp.paygrade_id,deduction.id) %>
<% unless @pay_deduction.nil? %>
<% @count+=1 %>
<%end%>
<% end%>
<% else %>
<%  @count = AlphenaPaygradePayrollCategory.find_all_by_paygrade_id(@emp.paygrade_id).count %>
<% end %>
<% if @counter == 1  %>
<% c =cycle('even','odd ') %>
<div class="section1 row" >
  <center>
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="<%= "#{c}" %>">
        <td class="col-pdf sl_no"><%=  i+=1 %></td>
        <%@emp = Employee.find(gross.employee_id)  %>
        <td class="col-pdf name"><%= @emp.first_name + @emp.last_name%></td>
        <td class="col-pdf e_dept"><%=  @dept = EmployeeDepartment.find(@emp.employee_department_id).name%></td>
        <td class="col-pdf j_date"><%= gross.salary_date %></td>
        <% @additional_field_name.each do |additional_field| %>
        <td class="col-pdf e_dept"><% @ead = EmployeeAdditionalDetail.find_by_employee_id_and_additional_field_id(@emp.id, additional_field.id) %>
         <%= @ead.additional_info unless @ead.nil? %>
       </td>
       <% end %>
       <% individual_category = IndividualPayslipCategory.find_by_employee_id_and_salary_date_and_is_deduction(gross.employee_id,gross.salary_date,false) %>
       <% total+=gross.amount.to_i + (individual_category.nil? ? 0 : individual_category.amount).to_f  %>
       <% @counter+=1 %>
       <%  elsif @count >= @counter %>
       <% total+=gross.amount.to_i + (individual_category.nil? ? 0 : individual_category.amount).to_f  %>
       <% if @counter == @count %>
       <% @counter = 1 %>
       <td class="col-pdf amount"><%= total %></td>
     </tr>
   </table>
 </center>
</div>
<% total = 0 %>
<% else %>
<% @counter+=1 %>
<% end %>
<% end %>
<%grand_total+=gross.amount.to_i + (individual_category.nil? ? 0 : individual_category.amount).to_f %>
<% end %>
<div class="section1 row" id="table-headers" >
  <center>
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="tr-blank"></tr>
      <tr class="table-header">
        <td class="col-1" colspan="5" style="padding-left:60%"><%= t('grand_total') %> <span style="padding-left:17%"><%= grand_total %></span></td>
      </tr>
    </table>
  </center>
</div>
<% end %>
</div>
<style>
#page-yield {
  width:1000px;
  margin: 0 auto;
  float: left;
  overflow: hidden;
}

#page-yield h2{
  text-align: center;
}

.hor_line{
  width:1000px;
  background: #333333;
  height: 1px;
}

h2.heading{
  text-align: center;
  margin:5px;
}

.table-header td{
  padding: 10px 0px 10px 3px;
  border-top: 1px solid #ADACAB;
  border-left: 1px solid #ADACAB;
  border-right: 1px solid #ADACAB;
  color: #97080e;
  background: #EEEEEE;
}

table#pdf-table{
  border-top: 1px solid #ADACAB;
  border-collapse:collapse
}


#page-extender{
  width:100%;
  height :300px;

}
#page-extender1{
  width:100%;
  height :500px;

}

.report{
  min-height: 1000px;
  margin: 0 auto;
}

#signature{
  text-align: right;
  width: 700px;
  margin: 0 auto;
  color: #999999;
  font-size: 18px;
}
#page-yield h2{
  text-align: center;
}

#pdf-footer{
  text-align: right;
  width: 1000px;
  padding-right: 100px;
  padding: 50px;
  margin: 0 auto;
  color: #999999;
  font-size: 18px;

}
.section1{

  text-align: right;
}
.row{
  float: left;
  width: 100%;
  text-align: right;
}
.tot-emp-text{
  color: #555555;
  font-weight: bold;
  float: left;
  font-size: 16px;
  width: 88%;

}

.tr-head{
  font-weight: bold;
}
.tot-emp-val{
  color: #97080e;
  font-size: 16px;
  float: left;

}
.tot-emp{
  font-size: 14px;
  padding: 7px;
  margin-top: 15px;
  width: 100%;
}

.odd{
  height:auto;
  background: #EEEEEE;

}

.even{

  height:auto;
  background: #fff;


}
tr.even{
  border: 1px solid #ADACAB;
  /* height :100px;*/
}

tr.odd{
  border: 1px solid #ADACAB;
  /*height :100px;*/
}

.even td{

  padding: 10px 0px 10px 3px;
  border: 1px solid #ADACAB;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;

}

.odd td{
  padding: 10px 0px 10px 3px;
  border: 1px solid #ADACAB;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;

}
td.col-pdf-bold{
  font-weight: bold !important;
}
.page1 {
  width:100%;
  height: auto;
  page-break-inside: avoid;
  clear: both;
}
.page-break1{
  height: 20px;
  border: 1px solid #fff;
  width: 100%;
  float: left;
}
.page-blank{
  width: 100%;
  float: left;
  border-top: 1px solid #ADACAB;
}
.page_break{
  margin-top: 60px;
}
.amount{
  width:120px;
  min-width:120px;
  max-width:120px;
}
.name{
  width:260px;
  min-width:260px;
  max-width:260px;
  overflow: hidden;
}
.sl_no{
  width:45px;
  min-width:45px;
  max-width:45px;
}
.name{
  width:175px;
  min-width:175px;
  max-width:175px;
  overflow: hidden;
}
.e_dept{
  width:120px;
  min-width:100px;
  max-width:120px;
  overflow: hidden;
}
.j_date{
  width:100px;
  min-width:100px;
  max-width:100px;
}
element.style {
    padding-left: 49%;
}
</style>