<%= stylesheet_link_tag "alphena_report/employee_payroll_details_with_tmpl.css" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= "Rank" %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%="#{t('employee_text')} #{t('payroll_text')} #{t('details')}" %></div>

</div>


<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :report_employee_payroll_details %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
  <div class="filter">
    <div class="label-field-pair">
      <label for="course_id"><%= t('select_department') %></label>
      <div class="text-input-bg margin-left-10">
        <%= select :department, :department_id,
          @departments.map {|c| [c.name, c.id]},
          {:prompt => "#{t('all')}"},
          {:onChange => "#{remote_function(:url => {:action => "employee_payroll_details"},
          :with => "'department_id='+ value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %> <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </div>
    </div>
  </div>
</div>
<div class="extender"></div>
<div id="information">
  <%= render  :partial => 'alphena_report/payroll_details'%>
</div>