<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%="#{t('employees')} #{t('details')}" %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<div id="information">
  <%= render  :partial => 'alphena_report/employees_list'%>
</div>
</div>