`<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('report_center') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="link_box">
    <%= link_to "<div class ='new_button'><div class='link_a'>#{t('course_text')}</div> <div class='link_ab'> #{@course_count}</div> </div>" ,:action=>'course_batch_details' %>
  </div>
  <div class="link_box">
    <%= link_to "<div class ='new_button'><div class='link_a'>#{t('batch')}</div> <div class='link_ab'> #{@batch_count}</div> </div>" ,:action=>'batch_details_all' %>
  </div>
  <div class="link_box">
    <%= link_to "<div class ='new_button'><div class='link_a'>#{t('student_text')}</div> <div class='link_ab'> #{@student_count}</div> </div>" ,:action=>'students_all' %>
  </div>
  <div class="link_box">
    <%= link_to "<div class ='new_button'><div class='link_a'>#{t('employee_text')}</div> <div class='link_ab'> #{@employee_count}</div> </div>" ,:action=>'employees' %>
  </div>
  <div class="extender"></div>
  <h4><%= t('other_courses') %></h4>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('course_text')} / #{t('batch')} #{t('details')}" ,:action=>'course_batch_details' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('course_text')} / #{t('batch')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('former_student')} #{t('details')}" ,:action=>'former_students' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('former_student')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('former_employee')} #{t('details')}" ,:action=>'former_employees' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('former_employee')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('subject')} #{t('details')}" ,:action=>'subject_details' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('subject')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('employee_subject_association')} #{t('details')}" ,:action=>'employee_subject_association' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('employee_subject_association')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('employee_text')} #{t('payroll_text')} #{t('details')}" ,:action=>'employee_payroll_details' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('employee_text')} #{t('payroll_text')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('exam_schedule')} #{t('details')}" ,:action=>'exam_schedule_details' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('exam_schedule')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fee_collection')} #{t('details')}" ,:action=>'fee_collection_details' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('fee_collection')} #{t('details')}"  %></div>
    </div>
  </div>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fees_defaulters_text')} #{t('details')}" ,:action=>'course_fee_defaulters' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('fees_defaulters_text')} #{t('details')}"  %></div>
    </div>
  </div>

  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('students')} #{t('fees_defaulters_text')} #{t('details')}" ,:action=>'student_wise_fee_defaulters' %></div>
      <div class="link-descr"><%= "#{t('generates')} #{t('students')} #{t('fees_defaulters_text')} #{t('details')}"  %></div>
    </div>
  </div>
<div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('audit_log')}" ,:controller=>"alphena_audits",:action=>'audit_link' %></div>
      <div class="link-descr"><%= "#{t('generate_audit_log_details')}"  %></div>
    </div>
  </div>
</div>
</div>