<%= stylesheet_link_tag "alphena_report/employee_payroll_category.css" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('salary_structure_report')}" %></div>
</div>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :reports_monthly_wise_payslip %>
    <%= render_breadcrumbs  %>
  </div>
  <% form_for :payroll do |f| %>
    <div id="box">
      <div class="filter">
        <div class="label-field-pair">
          <label for="former_students"><%= t('from')%></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'start_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="former_students"><%= t('to') %></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'end_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
          </div>
        </div>
                <%= submit_tag "► #{t('view')}",:class=>'submit_button' %>
      </div>
     
    <% end %>
  </div>
 

  <div id="payslip">
    <% if request.post? %>
      <% unless @monthly_payslip.nil? or @monthly_payslip.blank?  %>
<div id = "submit-button2">
          <%#= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"cumulative_pdf", :page_height => 680,:report_format_type => "pdf" ,:start_date => params[:start_date], :end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
           <%= link_to "► #{t('csv_report')}",  {:controller=>"report", :action=>"monthly_wise_payslip_csv_file", :report_format_type => "csv",:start_date => params[:start_date], :end_date => params[:end_date],:earnings => @e_payslip,:deduction => @d_payslip}, :class => 'user_button'%>
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">

           <tr class="tr-head"> <td colspan="8" align ="center">From:<%= params[:start_date].to_date  %>&nbsp To:<%= params[:end_date].to_date %> </td></tr>


           <tr class="tr-head">
            <td><%=  t('cost_code')%></td>
            <td><%= t('description') %></td>
            <td><%= t('debit') %></td>
            <td><%= t('credit') %></td>
          </tr>
          
         <% @e_payslip.each do |key,value| %>
        <% cost_code_name = key.split("-") %>
<tr class="tr-head">
             
            <td><%=Costcode.find(cost_code_name[0].to_i).cost_code_name%></td>
            <td><%= cost_code_name[1] %></td>
            <td><%= value %></td>
            <td><%= "-" %></td>
          </tr>
         <% end %>
         
<% @d_payslip.each do |key,value| %>
<% cost_code_name = key.split("-") %>
<tr class="tr-head">
            <td><%=Costcode.find(cost_code_name[0].to_i).cost_code_name%></td>
            <td><%= cost_code_name[1] %></td>
            <td><%= "-"%></td>
            <td><%= value %></td>
          </tr>
         <% end %>

              <tr class="tr">
                <td colspan="2">Gross Total:</td>
                <td> <%=@e_payslip.values.sum %> </td>
                <td> <%=@d_payslip.values.sum%> </td>
              </tr>
              <tr>
                 <td>Total Arrears and Allowances: </td>
                 <td> <%=@e_payslip.values.sum %> </td>
              </tr>
              <tr>
                  <td>Total Deductions: </td>
                  <td> <%=@d_payslip.values.sum%> </td>
              </tr>
              <tr>
                    <td>Total Staff: </td>
                    <% @emp=@monthly_payslip.map {|p| p.employee_id} %>
                    <td><%= @emp.uniq.count %></td>
              </tr>
        </table>    
      <% end %>
    <% end %>
  </div>
</div>
<div class="extender"></div>
<div class="hor_line"></div>
<div class="extender"></div>
</div>
