<%= stylesheet_link_tag "alphena_audit/user.css" %>
<table id="listing" width="100%">
  <tr class="tr-head">
    <td><%= t('created_by') %></td>
    <td><%=  t('no_of_visits')%></td>
    <td><%= t('recent_activity') %></td>
    <td><%= t('last_active') %></td>
  </tr>
  <% unless @user_ids.nil? or @user_ids.empty? or @user_ids.blank?  %>
   <% @no_data = 0  %>
   <% @user_ids.each do |id| %>
      <tr class="tr-head">
        <% if @inspect_control == true %>
          <% @user_details = Version.find_all_by_created_at_and_item_type_and_event_and_item_id(Date.today.beginning_of_day..Date.today.end_of_day,"User","update",id) %>
        <% elsif @inspect_control == false  %>
          <% @user_details = Version.find(:all, :conditions =>["item_type = ? AND event = ? AND item_id = ? AND date(created_at) BETWEEN ? AND ?","User","update",id,@start_date,@end_date]) %>
        <% end %>
        <% unless @user_details.nil? or @user_details.empty? or @user_details.blank?  %>
        <% @no_data = 1 %>
        <td><% if User.exists?(id) %>
            <%= User.find(id).username %>
             <% else %>
          <%= "Admin" %>
          <% end %>
        </td>
          <td><%= @count = @user_details.count%></td>
          <% unless @user_details[@count-1].whodunnit.nil? %>
            <td><%= "Logout"   %></td>
          <%else%>
            <td><%= "Login" %></td>
          <%end%>
          <td><%= @user_details[@count-1].created_at.strftime("%d %b %Y %I:%M %p") %><br/><%= distance_of_time_in_words(Time.now,@user_details[@count-1].created_at )  %><%= " ago" %></td>
        <%end%>
      </tr>
    <% end %>
      <% if @no_data == 0  %>
      <tr class="tr-head">
   <td colspan="4"><div class="message-area">No Activities Present</div></td></tr>
     <%end%>
  <% else %>
       <tr class="tr-head">
   <td colspan="4"><div class="message-area">No Activities Present</div></td></tr>
  <% end %>
</table>

