<%= stylesheet_link_tag "alphena_audit/audit.css" %>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<table id="listing" width="100%">
  <tr class="tr-head">
    <td><%= t('activity') %></td>
    <td><%=  t('details')%></td>
    <td><%= t('created_by') %></td>
    <td><%= t('audit_date') %></td>
  </tr>
  <% unless @audit_details.nil? or @audit_details.blank?  %>
    <% @audit_details.each do |audit_detail| %>
      <tr class="tr-<%=cycle('odd','even')%>">
        <td class="col-2"><%= audit_detail.item_type.gsub('AlphenaPaygrade','Paygrade') %> <%=  audit_detail.event.capitalize  %></td>
        <% @update_status = Version.find_by_item_type_and_item_id_and_event(audit_detail.item_type,audit_detail.item_id,"update")%>
        <% @destroy_status = Version.find_by_item_type_and_item_id_and_event(audit_detail.item_type,audit_detail.item_id,"destroy")%>
        <% if audit_detail.item_type == "AlphenaPaygrade" %>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "PayGrade :" %></label><%= @create_data.name %> <br/>
                <label for="employee_position"><%= "Status :" %></label> <%= @create_data.status %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2">
                <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "PayGrade :" %></label> <%= @updated_data.name %><br/>
                <label for="employee_position"><%= "Status :" %></label> <%= @updated_data.status %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2">
                <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "PayGrade :" %></label> <%= @destroyed_data.name %><br/>
                <label for="employee_position"><%= "Status :" %></label> <%= @destroyed_data.status %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2">
                <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "PayGrade :" %></label><%= @destroyed_data.name %><br/>
                <label for="employee_position"><%= "Status :" %></label> <%= @destroyed_data.status %>
              </td>
            <%  else %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "PayGrade :" %></label>  <%= @create_data.name %><br/>
                <label for="employee_position"><%= "Status :" %></label> <%= @create_data.status %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2">
              <% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "PayGrade :" %></label> <%= @destroyed_data.name%><br/>
              <label for="employee_position"><%= "Status :" %></label> <%= @destroyed_data.status %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Employee"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @create_data.first_name%><br/>
                <label for="employee_position"><%= "Employee Number :" %></label> <%= @create_data.employee_number %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2">
                <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @updated_data.first_name%><br/>
                <label for="employee_position"><%= "Employee Number :" %></label> <%= @updated_data.employee_number %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2">
                <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @destroyed_data.first_name%><br/>
                <label for="employee_position"><%= "Employee Number :" %></label> <%= @destroyed_data.employee_number %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2">
                <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @destroyed_data.first_name%><br/>
                <label for="employee_position"><%= "Employee Number :" %></label> <%= @destroyed_data.employee_number %>
              </td>
            <%  else %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @create_data.first_name%><br/>
                <label for="employee_position"><%= "Employee Number :" %></label> <%= @create_data.employee_number %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "First Name :" %></label>  <%= @destroyed_data.first_name%><br/>
              <label for="employee_position"><%= "Employee Number :" %></label> <%= @destroyed_data.employee_number %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "TimetableEntry"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Batch Name :" %></label>   <%= @create_data.batch.name %><br/>
                <label for="employee_position"><%= "Subject Name :" %></label>   <%= @create_data.subject.name %><br/>
                <label for="employee_position"><%= "WeekDay :" %></label>   <%= @create_data.weekday.weekday unless @create_data.weekday.nil? %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2">
                <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Batch Name :" %></label>   <%= @updated_data.batch.name %><br/>
                <label for="employee_position"><%= "Subject Name :" %></label>   <%= @updated_data.subject.name %><br/>
                <label for="employee_position"><%= "WeekDay :" %></label>   <%= @updated_data.weekday.weekday unless @updated_data.weekday.nil? %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2">
                <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Batch Name :" %></label>   <%= @destroyed_data.batch.name %><br/>
                <label for="employee_position"><%= "Subject Name :" %></label>   <%= @destroyed_data.subject.name %><br/>
                <label for="employee_position"><%= "WeekDay :" %></label>   <%= @destroyed_data.weekday.weekday unless @destroyed_data.weekday.nil? %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Batch Name :" %></label>   <%= @destroyed_data.batch.name %><br/>
                <label for="employee_position"><%= "Subject Name :" %></label>   <%= @destroyed_data.subject.name %><br/>
                <label for="employee_position"><%= "WeekDay :" %></label>   <%= @destroyed_data.weekday.weekday unless @destroyed_data.weekday.nil? %>
              </td>
            <%  else %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Batch Name :" %></label>   <%= @create_data.batch.name %><br/>
                <label for="employee_position"><%= "Subject Name :" %></label>   <%= @create_data.subject.name %><br/>
                <label for="employee_position"><%= "WeekDay :" %></label>   <%= @create_data.weekday.weekday unless @create_data.weekday.nil? %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Batch Name :" %></label>   <%= @destroyed_data.batch.name %><br/>
              <label for="employee_position"><%= "Subject Name :" %></label>   <%= @destroyed_data.subject.name %><br/>
              <label for="employee_position"><%= "WeekDay :" %></label>   <%= @destroyed_data.weekday.weekday unless @destroyed_data.weekday.nil?  %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Student"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @create_data.first_name%><br/>
                <label for="employee_position"><%= "Admission Number :" %></label> <%= @create_data.admission_no %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2">
                <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @updated_data.first_name%><br/>
                <label for="employee_position"><%= "Admission Number :" %></label> <%= @updated_data.admission_no %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2">
                <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @destroyed_data.first_name%><br/>
                <label for="employee_position"><%= "Admission Number :" %></label> <%= @destroyed_data.admission_no %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @destroyed_data.first_name%><br/>
                <label for="employee_position"><%= "Admission Number :" %></label> <%= @destroyed_data.admission_no %>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "First Name :" %></label>  <%= @create_data.first_name%><br/>
                <label for="employee_position"><%= "Admission Number :" %></label> <%= @create_data.admission_no %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2">
              <% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "First Name :" %></label>  <%= @destroyed_data.first_name%><br/>
              <label for="employee_position"><%= "Admission Number :" %></label> <%= @destroyed_data.admission_no %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "IndividualPayslipCategory"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= Employee.find(@create_data.employee_id).first_name%><br/>
                <label for="employee_position"><%= "Category Name :" %></label> <%= @create_data.name %>
                <label for="employee_position"><%= "Amount :" %></label> <%= @create_data.amount %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2">
                <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= Employee.find(@updated_data.employee_id).first_name%><br/>
                <label for="employee_position"><%= "Category Name :" %></label> <%= @updated_data.name %>
                <label for="employee_position"><%= "Amount :" %></label> <%= @updated_data.amount %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= Employee.find(@destroyed_data.employee_id).first_name%><br/>
                <label for="employee_position"><%= "Category Name :" %></label> <%= @destroyed_data.name %>
                <label for="employee_position"><%= "Amount :" %></label> <%= @destroyed_data.amount %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= Employee.find(@destroyed_data.employee_id).first_name%><br/>
                <label for="employee_position"><%= "Category Name :" %></label> <%= @destroyed_data.name %>
                <label for="employee_position"><%= "Amount :" %></label> <%= @destroyed_data.amount %>
              </td>
            <%  else %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= Employee.find(@create_data.employee_id).first_name%><br/>
                <label for="employee_position"><%= "Category Name :" %></label> <%= @create_data.name %>
                <label for="employee_position"><%= "Amount :" %></label> <%= @create_data.amount %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Employee Name :" %></label>  <%= Employee.find(@destroyed_data.employee_id).first_name%><br/>
              <label for="employee_position"><%= "Category Name :" %></label> <%= @destroyed_data.name %>
              <label for="employee_position"><%= "Amount :" %></label> <%= @destroyed_data.amount %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Exam"%>
          <%if audit_detail.event== "create" %>
            <% if @destroy_status.nil? and @update_status.reify.id.nil?  %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @create_data.exam_group.name%><br/>
                <label for="employee_position"><%= "Subject :" %></label> <%= @create_data.subject.name %>
              </td>
            <% elsif !@update_status.reify.id.nil? %>
              <td class="col-2"> <% @updated_data =   @update_status.reify  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @updated_data.exam_group.name%><br/>
                <label for="employee_position"><%= "Subject :" %></label> <%= @updated_data.subject.name %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @destroyed_data.exam_group.name%><br/>
                <label for="employee_position"><%= "Subject :" %></label> <%= @destroyed_data.subject.name %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @destroyed_data.exam_group.name%><br/>
                <label for="employee_position"><%= "Subject :" %></label> <%= @destroyed_data.subject.name %>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @create_data.exam_group.name%><br/>
                <label for="employee_position"><%= "Subject :" %></label> <%= @create_data.subject.name %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Exam Group :" %></label>  <%= @destroyed_data.exam_group.name%><br/>
              <label for="employee_position"><%= "Subject :" %></label> <%= @destroyed_data.subject.name %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "ExamGroup"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label> <%= @create_data.batch.name %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @updated_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label> <%= @updated_data.batch.name %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label> <%= @destroyed_data.batch.name %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label> <%= @destroyed_data.batch.name %>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Exam Group :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label> <%= @create_data.batch.name %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Exam Group :" %></label>  <%= @destroyed_data.name%><br/>
              <label for="employee_position"><%= "Batch :" %></label> <%= @destroyed_data.batch.name %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Course"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @create_data.course_name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @create_data.code %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @updated_data.course_name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @updated_data.code %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @destroyed_data.course_name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @destroyed_data.code %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @destroyed_data.course_name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @destroyed_data.code %>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @create_data.course_name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @create_data.code %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Course :" %></label>  <%= @destroyed_data.course_name%><br/>
              <label for="employee_position"><%= "Code :" %></label> <%= @destroyed_data.code %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Batch"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @create_data.course.course_name%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @updated_data.name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @updated_data.course.course_name%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @destroyed_data.course.course_name%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @destroyed_data.course.course_name%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Course :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Code :" %></label> <%= @create_data.course.course_name%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Course :" %></label>  <%= @destroyed_data.name%><br/>
              <label for="employee_position"><%= "Code :" %></label> <%= @destroyed_data.course.course_name%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Timetable"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">
                <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "From Date :" %></label>  <%= @create_data.start_date%><br/>
                <label for="employee_position"><%= "To Date :" %></label>  <%= @create_data.end_date%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "From Date :" %></label>  <%= @updated_data.start_date%><br/>
                <label for="employee_position"><%= "To Date :" %></label>  <%= @updated_data.end_date%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "From Date :" %></label>  <%= @destroyed_data.start_date%><br/>
                <label for="employee_position"><%= "To Date :" %></label>  <%= @destroyed_data.end_date%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "From Date :" %></label>  <%= @destroyed_data.start_date%><br/>
                <label for="employee_position"><%= "To Date :" %></label>  <%= @destroyed_data.end_date%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "From Date :" %></label>  <%= @create_data.start_date%><br/>
                <label for="employee_position"><%= "End Date :" %></label>  <%= @create_data.end_date%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "From Date :" %></label>  <%= @destroyed_data.start_date%><br/>
              <label for="employee_position"><%= "To Date :" %></label>  <%= @destroyed_data.end_date%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "Attendance"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Student Name :" %></label>  <%= @create_data.student.first_name%><br/>
                <label for="employee_position"><%= "Reason :" %></label>  <%= @create_data.reason%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Student Name :" %></label>  <%= @updated_data.student.first_name%><br/>
                <label for="employee_position"><%= "Reason :" %></label>  <%= @updated_data.reason%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Student Name :" %></label>  <%= @destroyed_data.student.first_name%><br/>
                <label for="employee_position"><%= "Reason :" %></label>  <%= @destroyed_data.reason%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Student Name :" %></label>  <%= @destroyed_data.student.first_name%><br/>
                <label for="employee_position"><%= "Reason :" %></label>  <%= @destroyed_data.reason%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Student Name :" %></label>  <%= @create_data.student.first_name%><br/>
                <label for="employee_position"><%= "Reason :" %></label>  <%= @create_data.reason%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Student Name :" %></label>  <%= @destroyed_data.student.first_name%><br/>
              <label for="employee_position"><%= "Reason :" %></label>  <%= @destroyed_data.reason%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "FinanceFeeCategory"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Description :" %></label>  <%= @create_data.description%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @updated_data.name%><br/>
                <label for="employee_position"><%= "Description :" %></label>  <%= @updated_data.description%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Description :" %></label>  <%= @destroyed_data.description%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Description :" %></label>  <%= @destroyed_data.description%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Description :" %></label>  <%= @create_data.description%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Fee Category :" %></label>  <%= @destroyed_data.name%><br/>
              <label for="employee_position"><%= "Description :" %></label>  <%= @destroyed_data.description%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "FinanceFeeParticular"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Fee Particular :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label>  <%= @create_data.batch.name%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Fee Particular :" %></label>  <%= @updated_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label>  <%= @updated_data.batch.name%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @updated_data.amount%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Fee Particular :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label>  <%= @destroyed_data.batch.name%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Fee Particular :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label>  <%= @destroyed_data.batch.name%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Fee Particular :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Batch :" %></label>  <%= @create_data.batch.name%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Fee Particular :" %></label>  <%= @destroyed_data.name%><br/>
              <label for="employee_position"><%= "Batch :" %></label>  <%= @destroyed_data.batch.name%><br/>
              <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "FinanceFeeCollection"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Fee Collection :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @create_data.fee_category.name%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Fee Collection :" %></label>  <%= @updated_data.name%><br/>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @updated_data.fee_category.name%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Fee Collection :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @destroyed_data.fee_category.name%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Fee Collection :" %></label>  <%= @destroyed_data.name%><br/>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @destroyed_data.fee_category.name%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Fee Collection :" %></label>  <%= @create_data.name%><br/>
                <label for="employee_position"><%= "Fee Category :" %></label>  <%= @create_data.fee_category.name%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Fee Collection :" %></label>  <%= @destroyed_data.name%><br/>
              <label for="employee_position"><%= "Fee Category :" %></label>  <%= @destroyed_data.fee_category.name%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "CancelledFinanceTransaction"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Cancelled Transaction :" %></label>  <%= @create_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%><br/>
                <% @payee_type = @create_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@create_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data = @update_status.reify %>
                <label for="employee_position"><%= "Cancelled Transaction :" %></label>  <%= @updated_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @updated_data.amount%><br/>
                <% @payee_type = @updated_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@updated_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Cancelled Transaction :" %></label>  <%= @destroyed_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%><br/>
                <% @payee_type = @destroyed_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@destroyed_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Cancelled Transaction :" %></label>  <%= @destroyed_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%><br/>
                <% @payee_type = @destroyed_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@destroyed_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Cancelled Transaction :" %></label>  <%= @create_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%><br/>
                <% @payee_type = @create_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@create_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Cancelled Transaction :" %></label>  <%= @destroyed_data.title%><br/>
              <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%><br/>
              <% @payee_type = @destroyed_data.payee_type %>
              <%@user_data  =  @payee_type.constantize.find(@destroyed_data.payee_id) %>
              <% if @payee_type == "Employee" %>
                <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
              <%elsif @payee_type == "Student" %>
                <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
              <% else %>
                <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
              <% end %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "FeeRefund"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %><br/>
                <label for="employee_position"><%= "User Name :" %></label>  <%= @create_data.user.username%><br/>
                <label for="employee_position"><%= "Refund Rule :" %></label>  <%= @create_data.refund_rule.name%><br/>
                <label for="employee_position"><%= "Refunded Amount :" %></label>  <%= @create_data.amount%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "User Name :" %></label>  <%= @updated_data.user.username%><br/>
                <label for="employee_position"><%= "Refund Rule :" %></label>  <%= @create_data.refund_rule.name%><br/>
                <label for="employee_position"><%= "Refunded Amount :" %></label>  <%= @updated_data.amount%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "User Name :" %></label>  <%= @destroyed_data.user.username%><br/>
                <label for="employee_position"><%= "Refund Rule :" %></label>  <%= @create_data.refund_rule.name%><br/>
                <label for="employee_position"><%= "Refunded Amount :" %></label>  <%= @destroyed_data.amount%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "User Name :" %></label>  <%= @destroyed_data.user.username%><br/>
                <label for="employee_position"><%= "Refund Rule :" %></label>  <%= @create_data.refund_rule.name%><br/>
                <label for="employee_position"><%= "Refunded Amount :" %></label>  <%= @destroyed_data.amount%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "User Name :" %></label>  <%= @create_data.user.username%><br/>
                <label for="employee_position"><%= "Refund Rule :" %></label>  <%= @create_data.refund_rule.name%><br/>
                <label for="employee_position"><%= "Refunded Amount :" %></label>  <%= @create_data.amount%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "User Name :" %></label>  <%= @destroyed_data.user.username%><br/>
              <label for="employee_position"><%= "Refund Rule :" %></label>  <%= @create_data.refund_rule.name%><br/>
              <label for="employee_position"><%= "Refunded Amount :" %></label>  <%= @destroyed_data.amount%>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "FinanceTransaction"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.reify.id.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Finance Transaction :" %></label>  <%= @create_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%><br/>
                <% @payee_type = @create_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@create_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% elsif !@update_status.reify.id.nil?  %>
              <td class="col-2"> <% @updated_data = @update_status.reify %>
                <label for="employee_position"><%= "Finance Transaction :" %></label>  <%= @updated_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @updated_data.amount%><br/>
                <% @payee_type = @updated_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@updated_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Finance Transaction :" %></label>  <%= @destroyed_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%><br/>
                <% @payee_type = @destroyed_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@destroyed_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Finance Transaction :" %></label>  <%= @destroyed_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%><br/>
                <% @payee_type = @destroyed_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@destroyed_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Finance Transaction :" %></label>  <%= @create_data.title%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%><br/>
                <% @payee_type = @create_data.payee_type %>
                <%@user_data  =  @payee_type.constantize.find(@create_data.payee_id) %>
                <% if @payee_type == "Employee" %>
                  <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
                <%elsif @payee_type == "Student" %>
                  <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                  <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
                <% else %>
                  <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
                <% end %>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Finance Transaction :" %></label>  <%= @destroyed_data.title%><br/>
              <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%><br/>
              <% @payee_type = @destroyed_data.payee_type %>
              <%@user_data  =  @payee_type.constantize.find(@destroyed_data.payee_id) %>
              <% if @payee_type == "Employee" %>
                <label for="employee_position"><%= "Employee Name :" %></label><%= @user_data.first_name %><br/>
                <label for="employee_position"><%= "Employee Department :" %></label><%= @user_data.employee_department.name %>
              <%elsif @payee_type == "Student" %>
                <label for="employee_position"><%= "Student Name :" %></label><%= @user_data.first_name %><br/>
                <label for="employee_position"><%= "Batch :" %></label><%= @user_data.batch.name %><br/>
              <% else %>
                <label for="employee_position"><%= "Payee Name :" %></label>  <%= @create_data.payee_type%>
              <% end %>
            </td>
          <% end %>
        <%elsif audit_detail.item_type == "MonthlyPayslip"%>
          <%if audit_detail.event== "create" %>
            <% if @update_status.nil? and @destroy_status.nil?  %>
              <td class="col-2">   <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= @create_data.employee.first_name%><br/>
                <label for="employee_position"><%= "Payroll :" %></label>  <%= @create_data.payroll_category.name%><br/>
                <label for="employee_position"><%= "Salary Date:" %></label>  <%=@create_data.salary_date%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%>
              </td>
            <% elsif !@update_status.nil?  %>
              <td class="col-2"> <% @updated_data =   @update_status.reify %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= @updated_data.employee.first_name%><br/>
                <label for="employee_position"><%= "Payroll :" %></label>  <%= @updated_data.payroll_category.name%><br/>
                <label for="employee_position"><%= "Salary Date:" %></label>  <%=@updated_data.salary_date%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @updated_data.amount%>
              </td>
            <% elsif !@destroy_status.nil? %>
              <td class="col-2"> <% @destroyed_data  = @destroy_status.reify  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= @destroyed_data.employee.first_name%><br/>
                <label for="employee_position"><%= "Payroll :" %></label>  <%= @destroyed_data.payroll_category.name%><br/>
                <label for="employee_position"><%= "Salary Date:" %></label>  <%=@destroyed_data.salary_date%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%>
              </td>
            <% end %>
          <% elsif audit_detail.event== "update" %>
            <%  unless @destroy_status.nil?  %>
              <td class="col-2"> <% @destroyed_data = @destroy_status.reify  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= @destroyed_data.employee.first_name%><br/>
                <label for="employee_position"><%= "Payroll :" %></label>  <%= @destroyed_data.payroll_category.name%><br/>
                <label for="employee_position"><%= "Salary Date:" %></label>  <%=@destroyed_data.salary_date%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%>
              </td>
            <%  else %>
              <td class="col-2"> <% @create_data = audit_detail.item_type.constantize.find(audit_detail.item_id)  %>
                <label for="employee_position"><%= "Employee Name :" %></label>  <%= @create_data.employee.first_name%><br/>
                <label for="employee_position"><%= "Payroll :" %></label>  <%= @create_data.payroll_category.name%><br/>
                <label for="employee_position"><%= "Salary Date:" %></label>  <%=@create_data.salary_date%><br/>
                <label for="employee_position"><%= "Amount :" %></label>  <%= @create_data.amount%>
              </td>
            <% end %>
          <%else%>
            <td class="col-2"><% @destroyed_data = audit_detail.reify %>
              <label for="employee_position"><%= "Employee Name :" %></label>  <%= @destroyed_data.employee.first_name%><br/>
              <label for="employee_position"><%= "Payroll :" %></label>  <%= @destroyed_data.payroll_category.name%><br/>
              <label for="employee_position"><%= "Salary Date:" %></label>  <%=@destroyed_data.salary_date%><br/>
              <label for="employee_position"><%= "Amount :" %></label>  <%= @destroyed_data.amount%>
            </td>
          <% end %>
        <%end%>
        <td class="col-1">
          <% unless audit_detail.whodunnit.nil?  %>
            <%  if User.exists?(audit_detail.whodunnit) %>
              <%= User.find(audit_detail.whodunnit).username %>
              <% else %>
            <%= "Admin" %>
            <%end%>
          <% else %>
            <%= "Admin" %>
          <% end %>
        </td>
        <td class="col-2"><%= audit_detail.created_at.strftime("%d %b %Y %I:%M %p") %><br/><%= distance_of_time_in_words(Time.now,audit_detail.created_at )  %><%= " ago" %></td>
      </tr>
    <%end%>
  <%else%>
    <tr class="tr-head">
      <td colspan="4"><div class="message-area">No Activities Present</div></td></tr>
  <%end%>
</table>
<div class="pagination" style="margin-top: 20px;" >
  <%= will_paginate @audit_details %>
</div>

