<%= stylesheet_link_tag "alphena_audit/activity.css" %>
<table id="listing" width="100%">
          <tr class="tr-head">
            <td><%= t('activity') %></td>
            <td><%=  t('module')%></td>
            <td><%= t('no_of_visits') %></td>
          </tr> 
 
  
 
   <tr class="tr-head">
      <td colspan="4"><div class="message-area">No Activities Present</div></td></tr>
</table>