<%= stylesheet_link_tag "alphena_audit/user.css" %>

<%  if params[:search_user] == "employee" %>

<div class="label-field-pair">
          <label for="employee_position"><%= t('select_departments') %></label>
  <%= select "",:employee_department_id, options_for_select(@departments.map{|d| [d.name ,d.id]}) ,
          {:prompt => "#{t('select_department')}"} %>
          </div>
 <%  elsif params[:search_user] == "student" %>
 <div class="search-input">
<div class="label-field-pair">
<label for="employee_position"><%= t('select_course') %></label>
      <%= select "",:course_id, options_for_select(@course.map{|c| [c.course_name ,c.id]}) ,
          {:prompt => "#{t('select_course')}"} ,
         {:onChange => "#{remote_function(:url => {:action => "update_batch"},
              :with => "'course_id='+ value",
              :before => "Element.show('loader')",
              :success => "Element.hide('loader')"
              )}"} %> <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %>
          </div>
          <div class="label-field-pair">
          <label for="employee_position"><%= t('select_batch') %></label>
          <div class="text-input-bg"><div id="alphena_batchs"> <%= render :partial => 'alphena_audits/user_batches', :object => @batches %></div></div>
        </div>
        </div>

  <%  elsif params[:search_user] == "user_name" %>
        <div class="label-field-pair">
          <label for="employee_position"><%= t('user_name') %></label>
          <div class="text-input-bg"> <%= text_field_tag :user_name %></div>
        </div>
  <%  end %>
   
