<%= stylesheet_link_tag "alphena_audit/user.css" %>
<div id="content-header">
  <div class="header-icon exam-icon"></div>
  <h1><%= t('audit') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('reports')} " %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :alphena_audits_alphena_audit_log %>
    <%= render_breadcrumbs%>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_remote_for :alphena_audit ,:url=>{:action=>'alphena_user_audit'}  do |f| %>
    <div class="filter">
        <div class="label-field-pair">
          <label for="course_id"><%= t('Search_by') %></label>
          <div class="text-input-bg margin-left-10">
            <%= select :search, :search_user,options_for_select([["Student","student"],["Employee","employee"],["Username","user_name"]]),
              {:prompt => "#{t('search_by')}"},
              {:onChange => "#{remote_function(:url => {:action => "update_user_search"},
              :with => "'search_user='+ value",
              :before => "Element.show('loader')",
              :success => "Element.hide('loader')"
              )}"} %> <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %>
          </div>
        </div>
        <div class="label-field-pair">
          <div class="text-input-bg"><div id="user_search"> <%= render :partial => 'alphena_audits/user_search' %></div></div>
        </div>
      <div class="label-field-pair">
        <label for="employee_position"><%= t('Select_Date') %></label>
        <div class="text-input-bg"><%= select "",:audit_date, options_for_select([["Today" , Time.now] ,
              ["Last Week"  , Time.now - 1.week],
              ["Last Month" , Time.now - 1.month],
              ["Last 3 Months" , Time.now - 3.months],
              ["Last 6 Months" , Time.now - 6.months],
              ["1 Year " ,   Time.now - 1.year]]
          ) %></div>
      </div>

    <%= submit_tag "► #{t('search_text')}", :class=> 'submit_button', :disable_with => "#{t('please_wait')}"  %>  </div>
  <% end %>
</div>
<div class="extender"></div>
<div class="hor_line"></div>
<div id="information">
  <%= render  :partial => 'alphena_user_audit'%>
</div>