<%= stylesheet_link_tag "alphena_audit/audit.css" %>
<div id="content-header">
  <div class="header-icon exam-icon"></div>
  <h1><%= t('audit') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('reports')} " %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :alphena_audits_alphena_audit_log %>
    <%= render_breadcrumbs%>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_remote_for :alphena_audit ,:url=>{:action=>'alphena_audit_log'}  do |f| %>
    <div class="filter">

      <div  class="search-input">


        <div class="label-field-pair">
          <label for="course_id"><%= t('module') %></label>
          <div class="text-input-bg margin-left-10">
            <%= select :module, :module_name,options_for_select(@modules),
              {:prompt => "#{t('select_module')}"},
              {:onChange => "#{remote_function(:url => {:action => "update_module_event"},
              :with => "'module_name='+ value",
              :before => "Element.show('loader')",
              :success => "Element.hide('loader')"
              )}"} %> <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="employee_position"><%= t('activity') %></label>
          <div class="text-input-bg"><div id="events"> <%= render :partial => 'alphena_audits/events', :object => @events %></div></div>
        </div>

        <div class="label-field-pair">
          <label for="employee_position"><%= t('user_name') %></label>
          <div class="text-input-bg"> <%= text_field_tag :user_name %></div>
        </div>


      </div>

      <div class="label-field-pair">
        <label for="employee_position"><%= t('Select_Date') %></label>
        <div class="text-input-bg"><%= select "",:audit_date, options_for_select([["Today" , Time.now] ,
              ["Last Week"  , Time.now - 1.week],
              ["Last Month" , Time.now - 1.month],
              ["Last 3 Months" , Time.now - 3.months],
              ["Last 6 Months" , Time.now - 6.months],
              ["1 Year " ,   Time.now - 1.year]]
          ) %></div>
      </div>
    </div>
    <%= submit_tag "► #{t('search_text')}", :class=> 'submit_button', :disable_with => "#{t('please_wait')}"  %>
  <% end %>
</div>
<div class="extender"></div>
<div class="hor_line"></div>
<div id="information">
  <%= render  :partial => 'alphena_audit_log'%>
</div>