<%= stylesheet_link_tag "alphena_audit/audit.css" %>
<div id="content-header">
<div class="header-icon exam-icon"></div>
  <h1><%= t('audit') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('reports')} " %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :alphena_audits_audit_link %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="extender"></div>
  <div class="box">
  
  <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('data_audit')}", :action=>"alphena_audit_log" %></div>
      <div class="link-descr"><%= "#{t('view_data_activities')}" %></div>
  </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('user_audit')}", :action=>"alphena_user_audit" %></div>
      <div class="link-descr"><%= "#{t('view_user_activities')}" %></div>
  </div>

  <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('one_click_monthly_payslip_generate')}", :controller => "employee", :action => "alphena_employee_wise_payslip" %></div>
      <div class="link-descr"><%= t('monthly_payslip') %> </div>
    </div>

  </div>
</div>