<%= stylesheet_link_tag "alphena_audit/activity.css" %>
<div id="content-header">
<div class="header-icon exam-icon"></div>
  <h1><%= t('audit') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('activities')} " %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :alphena_audits_alphena_activity %>
    <%= render_breadcrumbs%>
  </div>

  <div class="label-field-pair">
        <label for="employee_position"><%= t('Select_Date') %></label>
        <div class="text-input-bg"><%= select "",:audit_date, options_for_select([["Today" , Time.now] ,
              ["Last Week"  , Time.now - 1.week],
              ["Last Month" , Time.now - 1.month],
              ["Last 3 Months" , Time.now - 3.months],
              ["Last 6 Months" , Time.now - 6.months],
              ["1 Year " ,   Time.now - 1.year]]
          ) %></div>
      </div>


      <div id="information">
  <%= render  :partial => 'audit_activity'%>
</div>
</div>