<%= stylesheet_link_tag "alphena_paygrades/new.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<ul class="grade-list">
  <% unless flash[:notice1].nil? %>
    <p class="flash-msg"> <%= flash[:notice1] %> </p>
  <% end %>
  <% unless @costcodes.empty? %>
    <li class="listheading">
      <div class="grade-name11">
        <%= "#{t('costcode')}"%>|
        <%= "#{t('payroll_category')}"%> </div></li>
        <% @costcodes.each do |c| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="grade-name"><%= c.cost_code_name %>|<%=c.payroll_category.name unless c.payroll_category.nil? %></div>
        <div class="grade-edit"><%= link_to "#{t('edit_text')}", {:action => "edit", :id=>c.id} %></div>
        <div class="grade-edit"><%= link_to "#{t('delete_text')}", {:action => "destroy", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('no_costcode_record_found') %></p>
  <% end %>
</ul>


