<%#= stylesheet_link_tag "alphena_paygrades/new.css" %>
<%#= stylesheet_link_tag "costcodes/new.css" %>

<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
<div class="header-icon employee-icon"></div>

  <h1><%= "#{t('payroll_category_settings')}" %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= "#{t('costcode')}" %></div>

</div>

<div id="page-yield">
<div class="bread_crumb">
<%= make_breadcrumb %>
<%= render_breadcrumbs  %>
  </div>
   <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless @payroll_category.empty?  %>
  <div class="box">
    <%- form_for :costcode do |c| -%>
      <div id="form-content">
        <div class="label-field-pair">
          <label for="costcode"><%= t('select_payroll_category') %></label>
        <level class="text-input-bg"><%= c.select :payroll_category_id, options_for_select(@payroll_category.map{|d| [d.name ,d.id]}) ,
              {:prompt => "#{t('select_payroll_category')}"} %></level>
            </div>
        <div class="label-field-pair">
          <label for="costcode"><%= t('costcode') %></label>
          <div class="text-input-bg"> <%= c.text_field :cost_code_name %> </div>
        </div>

        <div id="submit-button">
          <%=submit_tag "► #{t('create_text')}", :disable_with => "► #{t('please_wait')}" %>
        </div>
      </div>

    <%- end -%>

    
    <div id="grade-list">
    <%=  render :partial => "costcodes/costcode" %>
    </div>
  </div>
  <% else %>
    <p class="flash-msg"> <%= "#{t('no_payroll_categories')}" %> </p>
  <% end %>
</div>
