<%= stylesheet_link_tag "alphena_payroll/list_payroll_categories.css" %>
<div>
<% remote_form_for :alphena_paygrade do |s| %>
<div class="add_sub" style ="margin-top:40px;"></div>
    
    <div id="heading" ><%= t('earnings') %> </div>
    <ul id="category-list">
    <div class="sel-list">
      <%= t('select') %>: <%= link_to_function t('all'), "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function t('none'), "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
      <div class="ScrollStyle">
    <% @categories.each do |c| %>
       
      <li class="list<%=cycle('odd', 'even')%>">
        <label><div><%= check_box_tag "alphena_paygrade[#{c.id}][payroll_category_id]", "#{c.id}",AlphenaPaygradePayrollCategory.exists?(:paygrade_id => @paygrade.id, :payroll_category_id => c.id)  ? true : false, :class => 'right' %></div>&nbsp;&nbsp;&nbsp;
          <div class="category-name"><%= c.name %></div>
          <!-- <div class="category-name"><%#= text_field_tag "alphena_paygrade[#{c.id}][amount]","0",:size => "5x1" %></div> -->
          <div class="category-name"><%= text_field_tag "alphena_paygrade[#{c.id}][amount]", AlphenaPaygradePayrollCategory.exists?(:paygrade_id => @paygrade.id, :payroll_category_id => c.id)  ? AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@paygrade.id,c.id).amount : "0",:size => "5x1",:class=>'precision_text',
          :onChange=> "#{remote_function(:url  => {:controller=>"payroll",:action => "update_alphena_dependent_payslips_fields"},
        :with => "'amount='+ value + '&cat_id=' + #{c.id}")}" %></div>
        </label>
      </li>
    <% end %>
     </div>

  </ul>
 <br> </br>

<div>
<div id="heading"><%= t('deductions') %></div>
  <ul id="category-list">

    <div class="sel-list">
      <%= t('select') %>: <%= link_to_function t('all'), "$$('input.right1').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function t('none'), "$$('input.right1').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>

<div class="ScrollStyle">
    <% @deductionable_categories.each do |c| %>    
      <li class="list<%=cycle('odd', 'even')%>">
        <label><div><%= check_box_tag "alphena_paygrade[#{c.id}][payroll_category_id]", "#{c.id}",AlphenaPaygradePayrollCategory.exists?(:paygrade_id => @paygrade.id, :payroll_category_id => c.id)  ? true : false, :class => 'right1' %>
        </div>&nbsp;
          <div class="category-name"><%= c.name %></div>
          <div class="category-name"><%= text_field_tag "alphena_paygrade[#{c.id}][amount]", AlphenaPaygradePayrollCategory.exists?(:paygrade_id => @paygrade.id, :payroll_category_id => c.id)  ? AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@paygrade.id,c.id).amount : "0",:size => "5x1",:class=>'precision_text',
          :onChange=> "#{remote_function(:url  => {:controller=>"payroll",:action => "update_alphena_dependent_payslips_fields"},
        :with => "'amount='+ value + '&cat_id=' + #{c.id}")}" %></div>
        </label>
      </li>
    <% end %>
</div>
  </ul>
  <% end %>

          
 </div>
 
</div>


