<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<ul class="category-list">
  <% unless flash[:notice1].nil? %>
    <p class="flash-msg"> <%= flash[:notice1] %> </p>
  <% end %>
  <% unless @categories.empty? %>
    <li class="heading"><%= t('earnings') %></li>
    <%- @categories.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %></div>

        
        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
        <% unless c.status == false %>
          <div class="category-edit"><%= link_to_remote "#{t('inactivate')}", :url => {:action => "inactivate_category", :id => c.id},
              :confirm=>"#{t('inactivate_confirm')}",
              :update => "category-list" %></div>
        <% else %>
          <div class="category-edit"><%= link_to_remote "#{t('activate')}", :url => {:action => "activate_category", :id => c.id},
              :confirm=>"#{t('activate_confirm')}",
              :update => "category-list" %></div>
        <% end %>
      </li>

    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('earnings_msg') %></p>
  <% end %>

</ul>

<ul class="category-list">
  <% unless @deductionable_categories.empty? %>
    <li class="heading"><%= t('deductions') %></li>
    <%- @deductionable_categories.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name  %></div>

        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
        <% unless c.status == false %>
          <div class="category-edit"><%= link_to_remote "#{t('inactivate')}", :url => {:action => "inactivate_category", :id => c.id},
              :confirm=>"#{t('inactivate_confirm')}",
              :update => "category-list" %></div>
        <% else %>
          <div class="category-edit"><%= link_to_remote "#{t('activate')}", :url => {:action => "activate_category", :id => c.id},
              :confirm=>"#{t('activate_confirm')}",
              :update => "category-list" %></div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('deduction_msg') %></p>
  <% end %>
</ul>
