<%# if @category = PayrollCategory.find_by_id_and_is_deduction(params[:id], false) %>
<% form_for(:alphena_paygrade_payroll_category, :url => {:controller => :payroll, :action =>
      :update_payroll_categories,:id => @category.id}) do |f| %>
  <%#*<div class='label-field-pair'>%>
  <%= f.text_field :amount, :size => 25 %>
  <%= f.submit 'Save' %>
  <%#*</div>%>

<% end %>
