<%= stylesheet_link_tag "alphena_payroll/list_payroll_categories.css" %>
<% form_for(:alphena_paygrade, :url => {:action=> 'update_payroll_categories'}) do |f| %>

  <div class="label-field-pair">
    <label for="student_course"><%= t('select_pay_grade') %>:
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
    </label>
    <div class="text-input-bg">
      <%= select :alphena_paygrade, :id,
        @paygrades.map {|b| [b.name, b.id] },
        {:prompt => t('select_pay_grade')},
        {:onchange => "#{remote_function(
        :url => { :action => 'update_payroll_categories' },
        :with => "'paygrade_id='+value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"  )}"} %>
    </div></div><br/><br/>

  <ul id="category-list">
    <% @payroll_categories.each do |c| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <label><div><%= check_box_tag "payroll_category_ids[]", c.id, AlphenaPaygradePayrollCategory.exists?(:paygrade_id => @paygrade.id,  :payroll_category_id => c.id)  ? true : false, :class => 'right' %></div>&nbsp;
          <div class="category-name"><%= link_to_remote c.name, :url => { :action => "add_payroll_value", :id => c.id} %></div>
            <div id="category-ids-<%= c.id %>"></div>
          <div class="opt">
            <div class="category-code"></div>
          </div>
        </label>
      </li>
    <% end %>
  </ul>

  <%= f.submit "Assign payroll categories",:class=>'submit_button' %>
<% end %>
