<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('edit_payroll') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('payroll_details') %></div>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :employee_edit_payroll_details, @employee %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="employee_profile_heading">

    <div id="profile_picture_display">
      <% if @employee.photo.file? %>
        <%= image_tag @employee.photo.url(:original, false) %>
      <% else %>
        <%= image_tag "HR/default_employee.png" %>
      <% end %>
    </div>

    <div id ="employee_main_info">
      <h3> <%= @employee.full_name %>  </h3>
      <h4><%= t('employee_id') %> : <%= @employee.employee_number %> </h4>
    </div>

    <div id="profile-general-info">


    </div>
    <div class="extender"></div>

  </div>

  <% form_for :manage_payroll do |s| %>
    <% @independent_categories.each do |c| %>
      <%- val = EmployeeSalaryStructure.find_by_employee_id_and_payroll_category_id(@employee, c) -%>
      <div class="label-field-pair">
        <label for="payroll_category_name"><%= c.name %></label>
        <div class="text-input-bg"><%= s.text_field :amount, :index => c.id,
            :value => precision_label(val.nil? ? 0 : val.amount),
            :onChange=> "#{remote_function(:url  => {:action => "update_dependent_fields"},
          :with => "'amount='+ value + '&cat_id=' + #{c.id}")}", :onkeypress => "return isNumberKey(this, event)",:class=>'precision_text' %></div>
      </div>
      <hr class="label-underline"></hr>
    <% end %>
    <% @dependent_categories.each do |c| %>
      <%- val = EmployeeSalaryStructure.find_by_employee_id_and_payroll_category_id(@employee, c) -%>
      <div class="label-field-pair">
        <label for="payroll_category_name"><%= c.name %></label>
        <div class="text-input-bg"><%= s.text_field :amount, :index => c.id,
            :value => precision_label(val.nil? ? 0 : val.amount),
            :onChange=> "#{remote_function(:url  => {:action => "update_dependent_fields"},
          :with => "'amount='+ value + '&cat_id=' + #{c.id}")}", :onkeypress => "return isNumberKey(this, event)",:class=>'precision_text' %></div>
      </div>
      <hr class="label-underline"></hr>
    <% end %>
    <div id="submit-button">
      <%=  submit_tag("► #{t('update')}") %>
    </div>
  <% end %>


</div>
<script type ="text/javascript">
  function isNumberKey(text, evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    evt = evt || window.event;
    var txt = text.value;
    var dotcontainer = txt.split('.');
    if (charCode > 37 && charCode < 40)
      return true;
    else if ((charCode == 46 || charCode == 116) && (dotcontainer.length <= 1))
      return true;
    else if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }
</script>
