<%= stylesheet_link_tag "alphena_payroll/list_payroll_categories.css" %>
<div id="content-header">
  <div class="header-icon exam-icon"></div>
  <h1>Assign Payroll Categories</h1>
  <div class="header-sep">|</div>
  <div class="sub-header">Paygrade management</div>
</div> <br> </br>
<div id="page-yield">
   <div class="bread_crumb">
    <% breadcrumb :payroll_list_payroll_categories %>
    <%= render_breadcrumbs  %>
  </div>

 <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %> 
<% form_for(:alphena_paygrade, :url => {:action=> 'save_payroll_categories'}) do |f| %>
  <div class="label-field-pair">
    <label for="student_course"><%= t('select_pay_grade') %>:
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
    </label>
    <div class="text-input-bg">
      <%= select :paygrade_id, :id,
        @paygrades.map {|b| [b.name, b.id] },
        {:prompt => t('select_pay_grade')},
        {:onchange => "#{remote_function(
        :url => { :action => 'assign_payroll_categories' },
        :with => "'paygrade_id='+value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"  )}"} %>
    </div></div><br/><br/>
  <div id="assign_payroll_categories"></div>
  <%= f.submit "Assign payroll categories",:class=>'submit_button' %>
<% end %>
</div>