<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag "alphena_payroll/list_payroll_categories.css" %>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('manage_payroll') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'> <%= t('enter_payroll_detail') %></div>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :payroll_manage_payroll, @employee %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="form-content">
    <% form_for :manage_payroll do |s| %>
      <% @independent_categories.each do |c| %>
        <div class="payroll-field-pair">
          <label for="payroll_category_name"><%= c.name %></label>
           <div class="category-name" > <%= text_field_tag "manage_payroll[#{c.id}][amount]", AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@employee.paygrade_id,c.id).amount ,:readonly=>true %></div>
        </div>
      <% end %>
      <% @dependent_categories.each do |c| %>
        <div class="payroll-field-pair">
          <label for="payroll_category_name"><%= c.name %></label>
            <div class="category-name" > <%= text_field_tag "manage_payroll[#{c.id}][amount]", AlphenaPaygradePayrollCategory.find_by_paygrade_id_and_payroll_category_id(@employee.paygrade_id,c.id).amount ,:readonly=>true %></div>
        </div>
      <% end %>
      <div id="submit-button">
        <%=submit_tag("►#{t('finish')}") %>
      </div>
    <% end %>
  </div>

</div>
