.user_button{
    background: none repeat scroll 0 0 #27292b;
    border: medium none;
    color: #ffffff !important;
    cursor: pointer;
    display: block;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: -63px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    width: auto;
}






table#listing td.col-1 {
    padding: 5px 5px 5px 10px;
    width: auto;
}

table#listing .tr-head td {
    padding: 5px 5px 5px 10px;
}
* {
    font-family: Arial !important;
}

table#listing tr.tr-head {
    color: #990a10;
    font-weight: bold;
    text-align: left;
}
.link-heading a, tr.tr-head, tr.tr-head a, td a:hover {
    color: #ab0000 !important;
}
* {
    font-family: Arial !important;
}

#box {
    margin: 0 auto;
    width: 530px;
}
* {
    font-family: Arial !important;
}

#bank-details {
    padding-top: 80px;
}
* {
    font-family: Arial !important;
}

.label-field-pair {
    height: 32px;
    padding-bottom: 23px;
    width: 600px;
}
* {
    font-family: Arial !important;
}