  <%= stylesheet_link_tag "alphena_employee/bank_details.css" %>
  <div id = "bank-details">
   <div id="submit-button">
   <%= link_to "► #{t('csv_report')}", {:controller=>"employee", :action=>"generate_csv_file", :report_format_type => "csv" ,:department_id=>params[:department_id]} ,:class => "user_button"%>
  <div>
  <table id="listing" width="100%">
  <tbody>
  <tr class="tr-head">
  <td align="center" colspan="10">Staff Details</td>
  </tr>
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('employee_name1') %></td>
      <td><%= t('employee_id1') %></td>
      <td><%= "Purpose of payment" %></td>
      <td><%= "Net Salary" %></td>
      <% @bank_fields.each do |bank_field| %>
       <td><%= bank_field.name %></td>
       <% end%>
    </tr>
      <%@total = 0.to_f%>
      <% count = 0 %>
      <% @bank_details_values.each do |k,v| %>
       
             
       <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1">
            <%=  count = count+1 %>
            </td>
            <td class="col-1"><%=  v["emp_name"] %></td>
            <td class="col-1"><%=  v["emp_number"]%></td>
            <td class="col-1"><%=  v["remark"]%></td>
            <td class="col-1"><%=  v["salary"]%> </td>

            <% @bank_fields.each do |bank_field| %>
           
           <td class="col-1"><%= v["#{bank_field.name}"] %></td>
            <% end %>

            <% @temp = v["salary"].to_f %>
            <% if @temp != 0 %>
            <% @total = @total + @temp %>
            <% else %>
            <% @total %>
            <% end %> 
      </tr>
        
        <% end %>
        <td class="col-1">
        Total
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td class="col-1"><%= @total%></td>
       

  </tbody>
  </table>
  </div>
  </div>