  <%= stylesheet_link_tag "alphena_employee/bank_details.css" %>
  <div id = "bank-details">
   <div id="submit-button">
   <%= link_to "► #{t('csv_report')}", {:controller=>"employee", :action=>"gifis_csv_file", :report_format_type => "csv" ,:department_id=>params[:department_id]} ,:class => "user_button"%>
  <div>
  <table id="listing" width="100%">
  <tbody>
  <tr class="tr-head">
  <td align="center" colspan="10">GIFMIS Mandate Schedule</td>
  </tr>
    <tr class="tr-head">
      <td><%= t('bank_accont_number') %></td>
      <td><%= t('net_salary') %></td>
      <td><%= t('currency') %></td>
      <td><%= t('coa_accont') %></td>
      <td><%= t('fund') %></td>
      <td><%= t('program') %></td>
      <td><%= t('description') %></td>
      <td><%= t('phone') %></td>
      <td><%= t('email') %></td>
      <td><%= t('reference_no') %></td>
    </tr>
      <%@total = 0.to_f%>
      <% @employees.each do |employee| %>
           <% @monthly = MonthlyPayslip.find_all_by_employee_id(employee) %>
           <% unless @monthly.blank? %>
                   <% @monthly.each do |id| %>
                       <% if id.is_rejected == false %>
                       <% @remark = id.remark  %>
                       <% else %>
                       <% @remark = id.reason %>
                       <% end %>
                   <% end %>
             <% date = @monthly.last.salary_date %>
             <% @monthly_payslip = MonthlyPayslip.find_all_by_employee_id_and_salary_date(employee,date) %>
             <% @individual_payslip_category = IndividualPayslipCategory.find_all_by_employee_id_and_salary_date(employee,date) %>
             <% @salary = Employee.calculate_salary(@monthly_payslip,@individual_payslip_category) %>
            <% else %>
                 <% @salary = "" %> 
                  <% @remark = ""%>
            <% end %>
             
       <tr class="tr-<%= cycle('odd', 'even') %>">
           <% employee_bank_detail =  EmployeeBankDetail.find_by_employee_id_and_bank_field_id(employee.id,@bank_field.id) %>
           <td class="col-1"><%= employee_bank_detail.bank_info unless employee_bank_detail.nil? %></td>
            
            

            
            <td class="col-1"><%= @salary[:net_amount]%> </td>
            <td class="col-1"><%= "NGN" %></td>
            <td class="col-1"><%= "21010101" %></td>
            <td class="col-1"><%= "02101" %></td>
            <td class="col-1"><%=  %></td>
            <td class="col-1"><%= @remark %></td>
            <td class="col-1"><%= employee.mobile_phone %></td>
            <td class="col-1"><%= employee.email %></td>
            <td class="col-1"><%= @monthly_payslip.first.salary_date.year unless @monthly_payslip.nil? %><%= employee.id %></td>

            <% @temp = @salary[:net_amount].to_f %>
            <% if @temp != 0 %>
            <% @total = @total + @temp %>
            <% else %>
            <% @total %>
            <% end %> 
      </tr>
        
  <% end %>
        <tr>
        <td class="col-1">
        Total
        </td>
        <td class="col-1"><%= @total%></td></tr>
       

  </tbody>
  </table>
  </div>
  </div>