<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @payroll_details.empty? %>
  <ul class="item-list">
    <li class="heading1"><%= t('basic_payroll_details') %></li>
    <% total = 0 %>
    <% @payroll_details.each do |p| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= p.name    %></div>
        <div class="item-edit"><%= currency %> <%= precision_label(p.amount) %></div>
        <% if p.is_deduction=="1" %>
          <% total -= p.amount.to_i %>
        <% else %>
          <% total += p.amount.to_i %>
        <% end %>
      </li>
    <% end %>
    <li class="list<%=cycle('odd', 'even')%>"><div class="item-name"><%= t('total') %> :</div><div class="item-edit"><%= currency %> <%= precision_label(total) %></div></li>
  </ul>
  <%# if permitted_to? :edit_payroll_details, :payroll %>
    <!-- <div class="edit-delete-link">
      <%#= link_to "#{t('edit_text')}", {:controller => "payroll", :action => "edit_payroll_details", :id => @employee.id}, :class=> 'user_button'  %>
    </div> -->
  <%# end %>
<%# else %>
  <%# unless @active_payroll_count==0 %>
  <!--   <p class="flash-msg"><%#= t('no_payroll_detail_entered') %>  <%= @employee.first_name%> .
      <%# if permitted_to? :manage_payroll, :payroll %>
        <%#= link_to "#{t('add')}", :controller => "payroll", :action => "manage_payroll", :id => @employee.id %></p>
    <%# end %>
  <%# else %>
    <p class="flash-msg"><%#= t('no_active_payroll_details') %> </p>
  <%# end %> -->
<% end %>
