<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('finance_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('employee_wise_payslip') %></div>
</div>
<div id="page-yield">
   <div class="bread_crumb">
    <% breadcrumb :alphenaemployee_department_wise_monthly_payslip %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box">
    <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  </div>
  <% form_for :payslip ,:url => {:action=> 'alphena_employee_wise_payslip_pdf'}, :html=> { :target => "_blank"} do |f| %>
    <div id="box">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_month') %>:</label>
        <div class="text-input-bg">
          <%= f.select :salary_date, @salary_dates.map {|c| [format_date(c.salary_date,:format=>:month_year),c.salary_date.strftime("%Y-%m-%d")]},
            {:prompt =>"#{t('select_month')}"} %>
        </div></div>
     
      <%= submit_tag "► #{t('pdf_report')}",:class=>'submit_button' %>
    </div>



  <% end %>
  </div>