<%= stylesheet_link_tag 'exam/generated_report_pdf.css' %>

<div id="page-yield">
<% unless @grouped_monthly_payslips.blank? %>
  <% @grouped_monthly_payslips.each do |(empid,payslip)|  %>
    <%  @monthly_payslips = MonthlyPayslip.find(:all,:conditions=>["employee_id=? AND salary_date = ?",payslip.first.employee_id,params[:payslip][:salary_date]],:include=>:payroll_category)%>
    <%@individual_payslips =  IndividualPayslipCategory.find(:all,:conditions=>["employee_id=? AND salary_date = ?",payslip.first.employee_id,params[:payslip][:salary_date]])%>
    <%  @salary  = Employee.calculate_salary(@monthly_payslips, @individual_payslips)%>
    <%  @currency_type= currency %>

    <!-- <div class="page-break"></div> -->
      <div class="hor_line"></div>  
     <h2><%= t('employee_payslip') %>-<%= format_date(params[:payslip][:salary_date].to_date,:format=>:month_year) %></h2> 
    <div class="hor_line"></div>
    <div class="extender"> </div>

    <div class="report">
      <div id ="main_info">
      <div class="info_left">
      <div class="info"><div class="info-label"><%= t('name') %></div> <div class="info-data"><span>:</span><%= @monthly_payslips.first.active_or_archived_employee.full_name %></div></div>
        <div class="info"><div class="info-label"><%= t('employee_number') %></div> <div class="info-data"><span>:</span><%= @monthly_payslips.first.active_or_archived_employee.employee_number %></div></div>
        <div class="info"><div class="info-label"><%= t('grade') %></div> <div class="info-data"><span>:</span><%= EmployeeGrade.find(@monthly_payslips.first.active_or_archived_employee.employee_grade_id).name unless @monthly_payslips.first.active_or_archived_employee.employee_grade_id.nil? %></div></div>
        <div class="info"><div class="info-label"><%= t('category') %></div> <div class="info-data"><span>:</span><%=  EmployeeCategory.find(@monthly_payslips.first.active_or_archived_employee.employee_category_id).name %></div></div>
        <div class="info"><div class="info-label"><%= t('department') %></div> <div class="info-data"><span>:</span><%= @monthly_payslips.first.active_or_archived_employee.employee_department.name %></div></div>
        <div class="info"><div class="info-label"><%= t('joining_date') %></div> <div class="info-data"><span>:</span><%= format_date(@monthly_payslips.first.active_or_archived_employee.joining_date) %></div></div>
      </div>
     <div class="info_right">
     <% @bank_details = EmployeeBankDetail.find_all_by_employee_id(@monthly_payslips.first.active_or_archived_employee.id) %>
     <% unless @bank_details.blank? %>
        <% @bank_details.each do |b| %>
          <div class="info"><div class="info-label"><%= b.bank_field.name %></div> <div class="info-data"><span>:</span><%=  b.bank_info%></div></div>
        <% end %>
      <% end %>
      </div> 
    </div>
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
          <td class="col-pdf" colspan="1">
            <%= t('earnings') %>
          </td>
          <td class="col-pdf" colspan="1", style="text-align:right;">
            <%= "Amount (₦)" %>
          </td>
        </tr>
        <% c = 'even' %>
        <%# unless @monthly_payslips.nil? %>
        <% @monthly_payslips.each do |mp| %>
          <% unless mp.payroll_category.blank? %>
            <% unless mp.payroll_category.is_deduction == true %>
              <% c =cycle('even','odd ') %>
              <tr class="<%= "#{c}" %>">
                <td class="col-pdf"><%= mp.payroll_category.name  %></td>
                <td class="col-pdf", style="text-align:right;"> <%= mp.amount.present? ? precision_label(mp.amount) : precision_label(0) %></td>
              </tr>
            <% end %>
          <%end%>
        <% end %>
        <%# end %>
        <% unless @individual_payslips.empty? %>
          <% @individual_payslips.each do |pc| %>
            <%if  pc.is_deduction == false %>
                <% c = cycle('even','odd ') %>
                <tr class="<%= "#{c}" %>">
                  <td class="col-pdf"><%= pc.name %></td>
                  <td class="col-pdf", style="text-align:right;"> <%= pc.amount.present? ? precision_label(pc.amount) : precision_label(0) %>
                </tr>
            <%end%>
          <% end %>
        <% end %>
        <% if c =='even' %>
          <tr class="table-header">
            <td class="col-pdf">
              <%= t('total_salary') %>
            </td>
            <td class="col-pdf", style="text-align:right;">
               <%= precision_label(@salary[:net_non_deductionable_amount])  %>
            </td>
          </tr>
        <% else %>
          <tr class="table-header">
            <td class="col-pdf">
              <%= t('total_salary') %>
            </td>
            <td class="col-pdf", style="text-align:right;">
         <%= precision_label(@salary[:net_non_deductionable_amount])  %>
            </td>
          </tr>
        <% end  %>
       <tr class="table-header">
          <td class="col-pdf" colspan="1">
            <%= t('deductions') %>
          </td>
          <td class="col-pdf" colspan="1", style="text-align:right;">
             <%= "Amount (₦)" %>
          </td>
        </tr>
        <%# @monthly_payslips.nil? %>
        <% @monthly_payslips.each do |mp| %>
          <% unless mp.payroll_category.blank? %>
            <% unless mp.payroll_category.is_deduction == false %>
              <% c =cycle('even','odd ') %>
              <tr class="<%= "#{c}" %>">
                <td class="col-pdf"><%= mp.payroll_category.name  %></td>
                <td class="col-pdf", style="text-align:right;">
                    <%= mp.amount.present? ? precision_label(mp.amount) : precision_label(0) %>
                  </td>
              </tr>
            <% end %>
          <%end%>
        <% end %>
        <%# end %>
         <% unless @individual_payslips.empty? %>
          <% @individual_payslips.each do |pc| %>
            <%if  pc.is_deduction == true %>
                <% c =cycle('even','odd ') %>
                <tr class="<%= "#{c}" %>">
                  <td class="col-pdf"><%= pc.name %></td>
                  <td class="col-pdf", style="text-align:right;">
                       <%= pc.amount.present? ? precision_label(pc.amount) : precision_label(0) %>
                    </td>
                </tr>
            <%end%>
          <% end %>
        <% end %>

        <% if c =='even' %>
          <tr class="table-header">
            <td class="col-pdf">
              <%= t('total_deductions') %>
            </td>
            <td class="col-pdf", style="text-align:right;">
              <%= precision_label(@salary[:net_deductionable_amount])  %>
            </td>
          </tr>
          <tr class="table-header">
            <td class="col-pdf" colspan="1">
              <%= t('total') %>
            </td>
            <td class="col-pdf" colspan="1", style="text-align:right;">
               <%= "Amount (₦)" %>
            </td>
          </tr>
          <tr class="table-header">
            <td class="col-pdf">
              <%= t('net_salary') %>
            </td>
            <td class="col-pdf", style="text-align:right;">
              <%= precision_label(@salary[:net_amount])  %>
            </td>
          </tr>

          <% if @monthly_payslips.first.is_approved == true%>
            <tr class="table-header"><td class="col-pdf"><%= t('remark') %></td>
              <td class="col-pdf", style="text-align:right;"><%= @monthly_payslips.first.remark %></td></tr>
          <%elsif @monthly_payslips.first.is_rejected == true%>
            <tr class="table-header"><td class="col-pdf"><b><%= t('reason') %></td>
              <td class="col-pdf", style="text-align:right;"><%= @monthly_payslips.first.reason %></td>
              </tr>
          <% end %>
        <% else %>
          <tr class="table-header">
            <td class="col-pdf">
              <b><%= t('total_deductions') %></b>
            </td>
            <td class="col-pdf", style="text-align:right;">
              <%= precision_label(@salary[:net_deductionable_amount])  %>
            </td>
          </tr>
          <tr class="table-header">
            <td class="col-pdf" colspan="1">
              <%= t('total') %>
            </td>
            <td class="col-pdf", style="text-align:right;" >
              <div><%= "Amount (₦)" %></div>
            </td>
          </tr>
          <tr class="table-header" >
            <td class="col-pdf">
              <b><%= t('net_salary') %></b>
            </td>
            <td class="col-pdf", style="text-align:right;">
           <%= precision_label(@salary[:net_amount])  %>
            </td>
          </tr>
          <% if @monthly_payslips.first.is_approved == true%>
            <tr class="table-header"><td class="col-pdf"><%= t('remark') %></td>
              <td class="col-pdf", style="text-align:right;"><%= @monthly_payslips.first.remark %></td>
            </tr>
          <%elsif @monthly_payslips.first.is_rejected == true%>
            <tr class="table-header"><td class="col-pdf"><%= t('reason') %></td>
              <td class="col-pdf", style="text-align:right;"><%= @monthly_payslips.first.reason %></td>
            </tr>
          <% end %>
          <% end  %>
        </div>
        </table>
        <div class="page-break"></div>
        </div>
       </div>
   <% end  %>
<% end  %>
 </div>
 <style>
 .page-break {
    height: auto;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}

/*
.page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}*/

 .info-label{
    float: left;
    color: #555555;
    font-size: 13px;
    width: 140px;
}

.info-data{
    float: left;
    color: #32323A;
    font-size: 13px;
}

.info-data span{
    color: #555555;
}
.info_right{
    float: left;
    width: 49%;
}
.info_left{
    float: left;
    width: 49%;
}
.info{
    width:345px;
    overflow: auto;
    margin-bottom: 10px;
    float: left;
    overflow: hidden;
}
.info1{
    width:345px;
    overflow: auto;
    margin-bottom: 10px;
    float: right;
    overflow: hidden;
}

#pdf-info{
    min-height: 900px;
    margin-top: 20px;
    width: 100%;
    float: left;
}


#page-yields {
    width:800px;
    margin: 0 auto;
    /*    float: left;*/
    /*    overflow: hidden;*/
}
.sections {
    /*margin: 0 auto;*/
    margin-top: 0px !important;
}
.col-l{
    width:60%;
    float:left;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.col-r{
    float:right;
    width: 30%;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
}



.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_infos h2{
    margin-bottom: 2px;
    font-weight: normal;
}

#main_infos h3{
    color: #000000;
    margin-top: 18px;
    font-weight: bold;
    width:100%;
}

#main_infos {
    padding-bottom: 0px;
    padding-top: 0px;
}

.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}



.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1210px;
    margin: 0 auto;
}

.report1{
    min-height: 1220px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
    margin-bottom: 100px;
}


#page-yield h2{
    text-align: center;
}


.common_remarks_section{
    float:left;
    width:800px;
    margin-bottom:10px;
    border-top:1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:20px;
    page-break-after:always;
}


#remarked_by_section{
    float:left;
    width:10%;
    margin-right: 25px;
    font-size: 13px;
    word-break: break-word;
}

#remark_subject_section{
    float:left;
    width:136px;
    margin-right: 30px;
    font-size: 13px;
}

#remark_body_section{
    float:left;
    width:50%;;
    margin-right: 25px;
    font-size: 13px;
    word-break: break-word;
}

#submitted_by_section{
    float:right;
    font-size: 13px;
    width: 30%;
    text-align: right;
    color:#666666;
    word-break: break-word;
}
#remarks_bold_label{
    font-weight: bold;
    float:left;
    margin-top:15px;
    margin-bottom: 15px;
    width:100%;
}
#remarks_list{
    float:left;
    border-top:1px solid #cccccc;
}
#all-remarks
{
    width: 800px;
    float: left;
    margin-top: 20px;
}
/*
.page-blank{
    width: 100%;
    float: right;
}*/
.page_break{
    margin-top: 60px;
}

.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:800px;
    float: right;
}
.section{
    page-break-before:always;
    /*    text-align: center;*/
}
.row{
    float: right;
    width: 100%;
    /*    text-align: center;*/
}
/*.page1 {
    width:800px;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}*/
#no_common_remarks{
    float: left;
    width: 800px;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight:bold;
    color: #666666;
    margin-top:0px;
}
.page-break 
{ 
    display:block; page-break-after: always;
}
/*#pdf-headers{
    width:800px;
    /*padding-top: 20px;*/
    /*margin: 0;
    overflow: hidden;
    margin-top: -2px;
    height: 120px;
    text-align: center;*/
/*}*/

/*.logos{
    height: 150px;
    width:135px;
    float: left;
}*/

/*.logo img{
    width: 110%;
    margin-top: 10px;
}*/

/*.header-contents{
    color: #97080e;
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    float: left;
    width: 635px;
    height: 110px;
    /*    text-align: center;*/
    word-wrap :break-word;
    margin-left:30px;
}*/

/*.header-contents p{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.header-contents p.institution_address{
    font-weight: normal !important;
    color: #000 !important;
    margin-top: 15px !important;
    line-height: 25px;
}*/

/*.tr-blank{
    height:  27px;
}

.col-bs{
    float:right;
    width: 40%;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
}*/

 </style>