<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('monthly_payslip') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('create_text') %></div>

</div>
<div id="page-yield">
 <div class="bread_crumb">
    <% breadcrumb :employee_create_monthly_payslip, @employee %>
    <%= render_breadcrumbs  %>
  </div>

  <div id="errors"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="employee_profile_heading">
    <div id ="employee_main_info">
      <h3> <%= @employee.full_name %>  </h3>
      <h4><%= t('employee_id') %>: <%= @employee.employee_number %> </h4>
    </div>
    <div class="extender"></div>
  </div>

  <div id="form-content">
    <%= render :partial => "alphena_employee/monthly_payslip_create"%>
  </div>

</div>

<script type="text/javascript">

  function add_individual_category(){
    j("#add").append('<%=escape_javascript(render :partial => "alphena_employee/individual_category")%>');
    regexp = new RegExp("replace_this", "g");
    alt_id = new Date().getTime();
    j('.temp_name').html(j('.temp_name').html().replace(regexp,alt_id));
    j('.temp_name').removeClass('temp_name');
    month_start_date=j('#salary_date').val().slice(0,-2)+"01";
    j('.salary_date').val(month_start_date);
    j(document).scrollTop(j(document).height());
  }

  function new_categoy_date_set(){
    month_start_date=j('#salary_date').val().slice(0,-2)+"01"
    j('.salary_date').val(month_start_date);
  }
  function slab_delete(id){
    j('.slab'+id).remove();
    j('.hor'+id).remove();
  }

</script>