<table id="listing" width="100%">
  <% unless @employees.blank? %>
    <tr class="tr-head">
      <td><%= t('name') %></td>
      <td><%= t('employee_number') %></td>
      <td><%= t('department') %></td>
    </tr>
    <% @employees.each do |e| %>
      <tr class="tr-<%= cycle('odd','even') %>">
        <td class="col-3"><%= link_to "#{e.full_name}", :controller=>"employee", :action=>"profile", :id=>e.id %></td>
        <td class="col-3"><%=e.employee_number %></td>
        <td class="col-3"><%=e.employee_department.name %></td>
      </tr>
    <% end %>
  <% else %>
    <tr class="tr-<%= cycle('odd', 'even') %>">
      <td class="col-2"><%= t('no_employee_found') %></td>
    </tr>
  <% end %>
</table>
