  <%= stylesheet_link_tag "alphena_employee/bank_details.css" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('gifis_mandate_schedule') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('gifis_mandate_schedule1') %></div>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :gifis_mandate_schedule %>
    <%= render_breadcrumbs  %>
  </div>
<div id="box">
<div class="label-field-pair">
<label><%= t('select_department') %> : </label>
<div class="text-input-bg"><%= select :name, :id ,[["#{t('all_dept')}",'All']] + @departments.map { |s| [s.name, s.id] },
                                        {:prompt => "#{t('select_department')}"},
                                        {:onChange => "#{remote_function(:url => {:action => "update_gifmis_mandate_report"},
                                        :with => "'department_id='+value",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
 <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
  </div>
  </div>
  </div>
  <div class="extender"></div>
<div id="gifis_list"></div>
</div>
