
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('employee_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('department_wise_payslip') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :employee_department_wise_monthly_payslip %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>
  <% form_for :payslip do |f| %>
    <% selected_salary_date = params[:payslip].blank? ? "" : params[:payslip][:salary_date].blank? ? "" : params[:payslip][:salary_date] %>
    <div id="box">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_month') %></label>
        <div class="text-input-bg">
          <%= f.select :salary_date, @salary_dates.map {|c| [format_date(c.salary_date,:format=>:month_year), c.salary_date.strftime("%Y-%m-%d")]},
            {:selected=>selected_salary_date,:prompt => "#{ t('select_month')}"} %>
      </div></div>
      <%= submit_tag "► #{t('view')}",:class=>'submit_button' %>
    </div>
  <% end %>
  <div id="payslip">
    <% if request.post? %>
      <% unless @category_departments.blank? %>
        
        <% hash_total_grand = {}   %>
        <div id = "submit_button2">
          <%= link_to "► #{t('csv_report')}",  {:controller=>"employee", :action=>"department_wise_monthly_payslip_csv", :report_format_type => "csv",:start_date => params[:payslip][:salary_date]}, :class => 'user_button'%>
        </div>
        <div class="outer">
        <div class="inner">
        <table id="listing" width="100%">
          <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('details') %></td>
            <% unless  @grouped_payslip_category.nil?%>
              <% if @grouped_payslip_category[false].present?  %>
                <%  @grouped_payslip_category[false].each do |cat|%>
                  <td><%= cat.name %></td>
                <% end %>
                <td><%= t('total_areas_and_allowances') %></td>
              <% end %>
              <td><%= t('gross_amount') %></td>
              <% if @grouped_payslip_category[true].present?  %>
                <%  @grouped_payslip_category[true].each do |cat|%>
                  <td><%= cat.name %></td>
                <% end %>
                <td><%= t('total_deductions') %></td>
              <% end %>
              <td><%= t('net_amount') %></td>
              
            <% end %>
          </tr>
         <% @category_departments.each do | k,v| %>
         <% hash_total = {}   %>
                  <% v.each_with_index do |depart,i| %>
                <% total_allowences = 0 %>
            <% total_deductions = 0 %>
            <tr class="tr-<%=cycle('odd','even')%>">
              <td><%= i+1 %></td>
              <td><%= depart.name %></td>
              <% unless  @grouped_payslip_category.nil?%>

                <% if @grouped_payslip_category[false].present?  %>
                  <%  @grouped_payslip_category[false].each do |cat|%>
                    <td><% @earning_cat_value = Employee.payroll_category_total(cat,depart,params[:payslip][:salary_date]) %>
                      <% if hash_total["#{cat.id }"].nil? %>
                                    <% hash_total["#{cat.id }"] = @earning_cat_value    %>
                                    <% else %>
                                    <% hash_total["#{cat.id }"] += @earning_cat_value  %>
                      <% end %>
                      <%= @earning_cat_value == 0 ? "" :   @earning_cat_value  %>
                      <% total_allowences += @earning_cat_value %>
                    </td>
                  <% end %>
                  <td><%= total_allowences == 0 ? "" :  total_allowences   %></td>
                  <% if hash_total["total_allowences"].nil? %>
                           <%  hash_total["total_allowences"] = total_allowences.to_f %>
                      <% else %>
                           <% hash_total["total_allowences"] += total_allowences.to_f  %>
                      <% end%>
                <% end %>
                

<% if @grouped_payslip_category[true].present?  %>
                  <%  @grouped_payslip_category[true].each do |cat|%>
                    <%  @deduction_cat_value = Employee.payroll_category_total(cat,depart,params[:payslip][:salary_date]) %>
                    <% if hash_total["#{cat.id }"].nil? %>
                                    <% hash_total["#{cat.id }"] = @deduction_cat_value    %>
                                    <% else %>
                                    <% hash_total["#{cat.id }"] += @deduction_cat_value  %>
                      <% end %>
                      <% total_deductions += @deduction_cat_value   %>
                  <% end %>
                <% end %>

                  <td><%  gross =  total_allowences+total_deductions %>
                 <% if hash_total["gross"].nil? %>
                        <% hash_total["gross"] =  gross %>
                        <%else%>
                        <% hash_total["gross"] +=  gross %>
                      <% end %>
                  <%= gross == 0 ? "" : gross   %>
                </td>

                <% if @grouped_payslip_category[true].present?  %>
                  <%  @grouped_payslip_category[true].each do |cat|%>
                    <td><%  @deduction_cat_value = Employee.payroll_category_total(cat,depart,params[:payslip][:salary_date]) %>
                      <%= @deduction_cat_value == 0 ? "" :   @deduction_cat_value  %>
                    </td>
                  <% end %>
                  <td><%= total_deductions == 0 ? "" :  total_deductions %></td>
                  <% if hash_total["total_deductions"].nil? %>
                           <%  hash_total["total_deductions"] = total_deductions.to_f %>
                      <% else %>
                           <% hash_total["total_deductions"] +=  total_deductions.to_f  %>
                      <% end%>
                   
                <% end %>

                <td><% net_salary =   total_allowences-total_deductions %>
                <% if hash_total["net_salary"].nil? %>
                        <% hash_total["net_salary"] =  net_salary %>
                        <%else%>
                        <% hash_total["net_salary"] +=  net_salary %>
                      <% end %>
                  <%=   net_salary == 0 ? "" : net_salary %>
                </td>
                
              <% end %>
            </tr>
          <% end %>
            <tr class="tr-head"><td colspan="2"><%= EmployeeCategory.find(k).name %></td>
             <% unless  @grouped_payslip_category.nil?%>
              <% if @grouped_payslip_category[false].present?  %>
                  <%  @grouped_payslip_category[false].each do |cat|%>
                      <td><%= hash_total["#{cat.id}"]   %></td>
                      <% if hash_total_grand["#{cat.id}"].nil? %>
                           <% hash_total_grand["#{cat.id}"] = hash_total["#{cat.id}"].to_f %>
                      <% else %> 
                           <% hash_total_grand["#{cat.id}"] +=  hash_total["#{cat.id}"].to_f %>
                      <% end %>
                      <% end %>
                      <td><%= hash_total["total_allowences"] %></td>
                       <% if hash_total_grand["total_allowences"].nil? %>
                           <%  hash_total_grand["total_allowences"] = hash_total["total_allowences"].to_f %>
                      <% else %>
                           <% hash_total_grand["total_allowences"] +=  hash_total["total_allowences"].to_f %>
                      <% end%>
                       
                    <% end %>

   <td><%= hash_total["gross"] %></td>
                      <% if hash_total_grand["gross"].nil? %>
                        <% hash_total_grand["gross"] = hash_total["gross"].to_f %>
                          <% else %>
                        <% hash_total_grand["gross"] +=  hash_total["gross"].to_f %>
                       <% end%>
                    <% if @grouped_payslip_category[true].present?  %>
                         <%  @grouped_payslip_category[true].each do |cat|%>
                             <td><%= hash_total["#{cat.id}"]   %></td>
                             <% if hash_total_grand["#{cat.id}"].nil? %>
                                 <% hash_total_grand["#{cat.id}"] = hash_total["#{cat.id}"].to_f %>
                             <% else %> 
                                 <% hash_total_grand["#{cat.id}"] +=  hash_total["#{cat.id}"].to_f %>
                             <% end %>
                        <% end %>                  
                           <td><%= hash_total["total_deductions"] %></td>
                              <% if hash_total_grand["total_deductions"].nil? %>
                                   <% hash_total_grand["total_deductions"] = hash_total["total_deductions"].to_f %>
                              <% else %>
                             <% hash_total_grand["total_deductions"] +=  hash_total["total_deductions"].to_f %>
                            <% end%>
                     <% end %>
                     <td><%= hash_total["net_salary"] %></td>
                     <% if hash_total_grand["net_salary"].nil? %>
                        <% hash_total_grand["net_salary"] = hash_total["net_salary"].to_f %>
                          <% else %>
                        <% hash_total_grand["net_salary"] +=  hash_total["net_salary"].to_f %>
                       <% end%>
                    
            <% end %>
            <% end %>
              </tr>
                     <tr class="tr-head"><td colspan="2"><%= "Grand Total" %></td>
             <% unless  @grouped_payslip_category.nil?%>
              <% if @grouped_payslip_category[false].present?  %>
                  <%  @grouped_payslip_category[false].each do |cat|%>
                    <td><%= hash_total_grand["#{cat.id}"]   %></td>
                       <% end %>
                       <!-- <td><%#= hash_total["responsiblity"] %></td> -->
                       <td><%= hash_total_grand["total_allowences"] %></td>
                    <% end %>
                    <td> <%= hash_total_grand["gross"]  %></td>
                    <% if @grouped_payslip_category[true].present?  %>
                  <%  @grouped_payslip_category[true].each do |cat|%>
                    <td><%= hash_total_grand["#{cat.id}"]   %></td>
                    <% end %>
                    <!-- <td><%#= hash_total["deductions"] %></td> -->                    
                     <td><%= hash_total_grand["total_deductions"] %></td>
                    <% end %>
                     <td><%= hash_total_grand["net_salary"] %></td>
                     
                     <% end %>
              </tr>
        </table>
        </div>
        </div>
      <% end %>
      <% end %>
  </div>


</div>

<style>
       .outer {position:relative}
       .inner {
        overflow-x:scroll;
        overflow-y:visible;
        width:950px; 
      }
  .user_button{
    background: none repeat scroll 0 0 #27292b;
    border: medium none;
    color: #ffffff !important;
    cursor: pointer;
    display: block;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: -63px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    width: auto;
}


.submit_button {
    margin-top:30px;
    margin-left:270px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.submit_button2 {
    margin-left: 300px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
    float:left;
    margin-top: 30px;
    margin-left:400px;
}
.submit_button2:hover{
    background:  #373B3F;
}


.item-list {

    margin-left:160px;
}

.item-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

.item-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

.item-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em;
    width : 30em;
}
.item-list li.heading1 {
    background : #BECFFB;
    border-bottom:1px solid #BECFFB;
    font-weight : bold;
    height : 1.5em;
    width : 39em;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
    font-size:14px;
}
.item-list li div {
    float : left;
}
.item-list li div.item-name {
    width : 350px;
    font-size:14px;
}
.item-list li div.item-edit,
.item-list li div.item-delete {
    font-size:14px;
    width : 100px;
    text-align:right;
}
.item-list li div a {
    color : #000;
}

.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top: 10px;
    margin-bottom:20px;
    margin-left:211px;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    margin-left: 300px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
    float:left;
    margin-top: 30px;
    margin-left:400px;
}
.submit_button2:hover{
    background:  #373B3F;
}


.next a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
    margin-left:18px;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:400px;
    background: #fff;
    padding:6px 0;
    text-align:center;
    float:left;
    font-size:16px;
    color:#121212;
    font-weight:bold;
    margin:0px 6px;
}
#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 200px;
    width: 560px;
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}

.pdf_button a{
    margin: 0 auto;
    margin-left: 400px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
}
.pdf_button a:hover{
    background:  #373B3F;
}

#box{
    width:530px;
    margin:0px auto;
}
.no-data{
        margin-left:160px;
}
#payslip {
    padding-top: 1px;
}

#button{
  margin-left: 300px;
}
  </style>