.label-field-pair {
    height : 83px;
    width : 350px;
    padding-top: 3px;
    float:  left;
}

.label-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width: 77px;
    padding-top: 10px;
    font-weight: 600;

}

.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}

.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width: 200px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.search-input{
    height: 50px;
    float:left;
    width:136%;
}

.submit_button {

    padding: 7px 7px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float:left;
    width:auto;
    margin-left: 0px;
     margin-top: 10px;
}

.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width: 171px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}



.link-box {
    margin: 10px 0px;
    width: 220px;
    float:left;
    height:80px;
    padding: 10px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link_ab a:hover {
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:960px;
    margin:0px auto;
}
.new_button{
    float: left;
    background: #f2f2f2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    font-family: arial;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: 20px;
}
.link_a a {
    text-decoration:none;
    color: #333;
    font-size: px;
}
.link_box a{
    color:#333;
}

.link_ab{
    margin-top: 7px;
    font-size: 28px;
}
.link_ab a {
    text-decoration:none;
    color: #333;
    font-size: 28px;
}


h4{
    margin-top: 30px;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}
.new_button:hover {
    display:block;
    background: #fff;

}
.link_a a:hover{
    color:#900
}

.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {margin-top:5px;color:#666;text-align:justify;}
#box{
    width:700px;
    margin:0px auto;
}

table#listing tr.tr-head{
    background: #fff;
    color: #080808;
    font-weight:bold;
    text-align:left;
}

table#listing .tr-head td {
    padding: 5px;
    padding-left: 10px;
    text-align: -webkit-center;

}
table#listing tr.tr-head td a,table#listing tr.tr-head {
    color: black !important;
}
tr.tr-blank {
    height: 10px;
}
table#listing .tr-odd ,table#listing .tr-even{
    font-weight: 500;
}
table#listing td.col-2 {
width: 26%;
padding: 26px;
}
table#listing td.col-1 {
    width: 10%;
    padding: 5px;
    padding-left: 10px;
}

table#listing{
    padding:20px;
}

.message-area{
    color: #969696;
}
table#listing td{
    padding: 10px;
}
.pagination{
    float:right;
    position: relative;
     margin-top:0px; 
    margin-right:40px;
}

