
<%= stylesheet_link_tag "alphena_finance/individual_payslip.css" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('employee_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('department_wise_payslip') %></div>
</div>
<div id="page-yield">
   <div class="bread_crumb">
   <%= breadcrumb :alphena_finance_on_monthly_revert %>
    <%= render_breadcrumbs  %> 
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>
  <% form_for :payslip, :url=>{:action=>'revert_monthly_payslip'} do |f| %>
    <div id="box">
      <div class="label-field-pair">
        <% selected_salary_date = params[:payslip].blank? ? "" : params[:payslip][:salary_date].blank? ? "" : params[:payslip][:salary_date] %>
        </div>
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_month') %></label>
        <div class="text-input-bg">
          <%= f.select :salary_date, @salary_dates.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},
            {:selected=>selected_salary_date,:prompt => "#{ t('select_month')}"} %>
        </div></div>
      <td><%= submit_tag  "Revert Monthly Payslip" ,:value => "►#{t('revert')}", :class => "submit_button"  %></td>
       
      </div>
 <% end %>
 </div>

 