<%= stylesheet_link_tag "alphena_finance/monthly_revert.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('employee_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('department_wise_payslip') %></div>
</div>
<div id="page-yield">
   <div class="bread_crumb">
    <%= breadcrumb :alphena_finance_on_revert %>
    <%= render_breadcrumbs  %> 
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>
  <% form_for :payslip do |f| %>
    <div id="box">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_department') %>:</label>

        <% selected_dept = params[:payslip].blank? ? "" : params[:payslip][:department_id].blank? ? "" : params[:payslip][:department_id] %>
        <% selected_salary_date = params[:payslip].blank? ? "" : params[:payslip][:salary_date].blank? ? "" : params[:payslip][:salary_date] %>
        <div class="text-input-bg"> <%= f.select :department_id, [["#{t('all_departments')}",'All']] + @departments.map { |c| [c.name, c.id] }, {:selected=>selected_dept.to_i,:prompt => "#{t('select_department')}"}
        %>

        </div></div>
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_month') %></label>
        <div class="text-input-bg">
          <%= f.select :salary_date, @salary_dates.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},
            {:selected=>selected_salary_date,:prompt => "#{ t('select_month')}"} %>
        </div></div>
      <%= submit_tag "► #{t('view')}",:class=>'submit_button' %>
    </div>



  <% end %>
 </div>
  <div id="payslip">
    <% if request.post? %>
      <% if @payslips[:monthly_payslips].present? or @payslips[:individual_payslip_category].present? %>
        <% grouped_monthly_payslips = @payslips[:monthly_payslips] unless @payslips[:monthly_payslips].blank?%>
        <% grouped_individual_payslip_categories = @payslips[:individual_payslip_category] unless @payslips[:individual_payslip_category].blank?%>
        <table id="listing" width="100%">
          <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('employee_text') %></td>
            <td><%= t('employee_no') %></td>
            <td><%= t('net_salary') %></td>
            <td><%= t('payslip_status') %></td>
            <td> Action </td>
            <td> Revert </td>
          </tr>
          <% total_salary = 0 %>
          <%  total_approved_salary = 0 %>
          <% total_employees = 0 %>
          <% i=0 %>
          <% unless  grouped_monthly_payslips.blank? %>
            <% grouped_monthly_payslips.each do |(empid,payslip)| %>
              <tr class="tr-<%=cycle('odd','even')%>">
                <% if payslip and payslip.first and payslip.first.active_or_archived_employee %>
                  <td class="col-1">  <%=  i+=1 %></td>
                  <td class="col-1">  <%= payslip.first.active_or_archived_employee.full_name %></td>
                  <td class="col-1">  <%= payslip.first.active_or_archived_employee.employee_number %></td>
                  <% grouped_individual_payslip_category = nil %>
                  <% unless grouped_individual_payslip_categories.blank? %>
                    <% grouped_individual_payslip_category = grouped_individual_payslip_categories[empid] unless grouped_individual_payslip_categories[empid].nil? %>
                  <% end %>

                  <% emp_payslip = Employee.calculate_salary(payslip,grouped_individual_payslip_category) %>
                  <td class="col-1">  <%=precision_label(emp_payslip[:net_amount]) unless emp_payslip.nil? %></td>
                  <td class="col-1">  <%= payslip.first.status_as_text %></td>
                  <td class="col-5"><%= link_to "#{t('view')}",{:action=>"view_employee_payslip",:id=>payslip.first.employee_id,:salary_date=>params[:payslip][:salary_date]} %></td>
                <% end %>
                <% total_salary +=  emp_payslip[:net_amount].to_f unless emp_payslip.nil?  %>
                <% total_approved_salary +=  emp_payslip[:net_amount].to_f if  !emp_payslip.nil? and payslip.first.is_approved  %>
                <% total_employees = i %>

                
                <td class="col-5"><%= link_to "Revert",{:action=>"revert_employee_payslip",:id=>payslip.first.employee_id} %></td>
              </tr>
            <% end %>
          <% end %>
          <tr class="tr-head">
            <td class="col-1" ><%= t('total_employees') %>: </td>
            <td class="col-1"><%= total_employees %> </td>
            <td class="col-1"><%= t('total_salary') %> : </td>
            <td class="col-1"><%= precision_label(total_salary) %></td>
            <td class="col-1"><%= t('approved_salary') %>: </td>
            <td class="col-1"><%= precision_label(total_approved_salary) %></td>
          </tr>

        </table>
        <div id = "button">
          <%= link_to "► #{t('pdf_report')}", {:controller=>"employee", :action=>"department_payslip_pdf", :page_height => 680,:salary_date => params[:payslip][:salary_date] ,:report_format_type => "pdf",:department_id => params[:payslip][:department_id] }, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
          <%= link_to "► #{t('csv_report')}", {:controller=>"csv_export", :action=>"generate_csv",:salary_date => params[:payslip][:salary_date], :department_id => params[:payslip][:department_id], :csv_report_type => "employee_payslip", :report_format_type => "csv"}, :class => 'user_button'%>
        </div>
      <% else %>
        <p class="flash-msg"> <%= t('no_payslip_found') %></p>
      <% end %>
    <% end %>
  </div>


</div>
