.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 28px;
    margin: 5px 0 0 10px;
    padding: 3px 6px;
    width: 216px;
}
select {
    font-family: Arial !important;
}
input[type="text"], input[type="password"], textarea, select {
    outline: medium none;
}
* {
    font-family: Arial !important;
}
* {
    font-family: Arial !important;
}
* {
    font-family: Arial !important;
}