.item-list {

    margin-left:160px;
}

.item-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

.item-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

.item-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em;
    width : 30em;
}
.item-list li.heading1 {
    background : #BECFFB;
    border-bottom:1px solid #BECFFB;
    font-weight : bold;
    height : 1.5em;
    width : 39em;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
    font-size:14px;
}
.item-list li div {
    float : left;
}
.item-list li div.item-name {
    width : 350px;
    font-size:14px;
}
.item-list li div.item-edit,
.item-list li div.item-delete {
    font-size:14px;
    width : 100px;
    text-align:right;
}
.item-list li div a {
    color : #000;
}

.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top: 10px;
    margin-bottom:20px;
    margin-left:211px;
}

.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    margin-left: 300px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
    float:left;
    margin-top: 30px;
    margin-left:400px;
}
.submit_button2:hover{
    background:  #373B3F;
}


.next a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
    margin-left:18px;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:400px;
    background: #fff;
    padding:6px 0;
    text-align:center;
    float:left;
    font-size:16px;
    color:#121212;
    font-weight:bold;
    margin:0px 6px;
}
#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 200px;
    width: 560px;
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}

.pdf_button a{
    margin: 0 auto;
    margin-left: 400px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
}
.pdf_button a:hover{
    background:  #373B3F;
}

#box{
    width:530px;
    margin:0px auto;
}
.no-data{
        margin-left:160px;
}
#payslip {
    padding-top: 100px;
}

#button{
  margin-left: 300px;
}

.user_button{
    -moz-border-radius:10px;
    -webkit-border-radius:0px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF !important;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-bottom:30px;
    margin-top:-70px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
    margin-right:180px;
    text-decoration: none;
    display: block;
}
table#listing .tr-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:700;
    font-size:12px;
}
table#listing .tr-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:700;
    font-size:12px;
}
table#listing td.col-1{
    width:auto;
    padding: 5px;
    padding-left:10px;
}
.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 160px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
body > #content_wrapper {
    height: auto;
    min-height: 90%;
    width:1100px;
}
#content {
    padding-bottom: 33px;
    margin-top:40px;
    width:1100px; 
}
table#listing .tr-head td {
    padding: 0px;
    padding-left: 8px;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    margin: 5px 0 0 10px;
    padding: 3px 6px;
    width: 175px;
}
.label-field-pair label {
    color: #444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
    width: 200px;
}