<style>
#page-yield {
    width:800px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

#page-yield h2{
    text-align: center;
}

.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}
#page-yield h2{
    text-align: center;
}

#pdf-footer{
    text-align: right;
    width: 800px;
    padding-right: 100px;
    padding: 50px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;

}
.section1{
    page-break-before:always;
    text-align: right;
}
.row{
    float: left;
    width: 100%;
    text-align: right;
}
.tot-emp-text{
  color: #555555;
  font-weight: bold;
  float: left;
  font-size: 16px;
  width: 88%;

}

.tr-head{
  font-weight: bold;
}
.tot-emp-val{
    color: #97080e;
    font-size: 16px;
    float: left;
    
}
.tot-emp{
    font-size: 14px;
    padding: 7px;
    margin-top: 15px;
    width: 100%;
}

.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
   /* height :220px;*/
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}
td.col-pdf-bold{
    font-weight: bold !important;
}
.page1 {
    width:100%;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width: 100%;
    float: left;
}
.page-blank{
    width: 100%;
    float: left;
}
.page_break{
    margin-top: 60px;
}
.amount{
    width:150px;
    min-width:150px;
    max-width:150px;
}
.name{
    width:260px;
    min-width:260px;
    max-width:260px;
    overflow: hidden;
}
.sl_no{
    width:45px;
    min-width:45px;
    max-width:45px;
}
.name{
    width:175px;
    min-width:175px;
    max-width:175px;
    overflow: hidden;
}
.e_dept{
    width:120px;
    min-width:100px;
    max-width:120px;
    overflow: hidden;
}
.j_date{
    width:100px;
    min-width:100px;
    max-width:100px;
}
</style>