<%= stylesheet_link_tag "alphena_paygrades/new.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>







<ul class="grade-list">
  <% unless flash[:notice1].nil? %>
    <p class="flash-msg"> <%= flash[:notice1] %> </p>
  <% end %>
  <% unless @grades.empty? %>
    <li class="listheading">
 <div class="grade-name1">
 <%= "#{t('paygrade_name')}"%> </div></li>
    <%- @grades.each do |c| -%>

      <li class="list<%=cycle('odd', 'even')%>">

        <div class="grade-name"><%= c.name %></div>

        <div class="grade-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_paygrade", :id=>c.id} %></div>

        <div class="grade-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_paygrade", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>

        <% unless c.status == false %>
          <div ><%= link_to_remote "#{t('inactivate')}", :url => {:action => "inactivate_paygrade", :id => c.id},
              :confirm=>"#{t('inactivate_confirm1')}",
              :update => "grade-list" %></div>

        <% else %>

          <div ><%= link_to_remote "#{t('activate')}", :url => {:action => "activate_paygrade", :id => c.id},
              :confirm=>"#{t('activate_confirm2')}",
              :update => "grade-list" %></div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('no_pay_grades_record_found') %></p>
  <% end %>
</ul>